
.detailBox {
    width:80%;
   
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:none;
    overflow:auto;
}

.questionList {
    padding:0;
    list-style:none;
    max-height:none;
    overflow:inherit;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}

.askerImage {
    width:30px;
    margin:5px 9px 0px 3px;
    height:100%;
    float:left;
}

.askerImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
	padding-top: 2%;
	width: 90%;
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    padding:10px;
}

.commentRow {
    padding:0;
    list-style:none;
    border: 1px solid #bbb;
    border-radius: 3px;
    min-height:60px;
    max-height:200px;
    overflow:inherit;
    width: 64%;
}

.questionRow {
    padding:0;
    list-style:none;
    border: 1px solid #bbb;
    border-radius: 9px;
    max-height:200px;
    overflow:inherit;
    width: 64%;
}

.answerText company-color{
	color: #FE980F;
    margin:0;
}

.answerList li {
    margin:0;
    margin-top:10px;
    margin-bottom: 40px;
}

 .tab-quest {
        padding-top: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
        border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#fff;
        height: auto;
}



