@(myForm: Form[Employee])
<form name="userForm" action="@routes.AdminController.register()" method="POST" novalidate enctype="multipart/form-data" >
   <hr>
   @if(myForm.hasGlobalErrors){
   <div class="panel panel-danger">
      <div class="panel-heading">"errorSubmitingForm"</div>
      <div class="panel-body">
         <ul>
            @for(err <- myForm.globalErrors){
            <li> "error" </li>
            }
         </ul>
      </div>
   </div>
   }				
   <div class="form group" >
      <!-- onchange="form.confirmPassword.pattern = this.value;" -->
      <!-- Input email -->
      <div class='@("form-group has-error".when(myForm("email").hasErrors)) form-group' ng-class="{'has-error' : userForm.email.$invalid && !userForm.email.$pristine,'has-success': userForm.email.$valid,
      @("form-group has-error".when(myForm("email").hasErrors)) }">
      <label class="control-label" for="email">Email<span style="color:#AB1403"> *</span></label>
      <input class="form-control" ng-value='@myForm("email").value' type="email" id="email" name="email" placeholder="Email" ng-minlength="3" ng-model="user.email" ng-init="user.email='@myForm("email").value'" required/> 
      <!-- Email error messages. -->
    
   </div>
   
   <!-- Name --> 
   <div class='@("form-group has-error".when(myForm("name").hasErrors)) form-group' 
   ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine, 
   'has-success': userForm.name.$valid,
   @("form-group has-error".when(myForm("name").hasErrors)) }" >			     	
   <label class="control-label" for="name">Name<span style="color:#AB1403"> *</span></label>
   <input class='@("has-error".when(myForm("name").hasErrors)) form-control'
   ng-value='@myForm("name").value' type="text" id="name" name="name"
   ng-model="user.name" ng-minlength="4" ng-maxlength="45"
   ng-init="user.name='@myForm("name").value'" 
   ng-pattern="/^[A-Za-z0-9 _]*[A-Za-z0-9][A-Za-z0-9 _]*$/"	placeholder="Name" required/>	
   
   </div>
   <!-- Surname -->
   
   <div class='@("form-group has-error".when(myForm("surname").hasErrors)) form-group'
   ng-class="{ 'has-error' : userForm.surname.$invalid && !userForm.surname.$pristine,
   'has-success': userForm.surname.$valid,
   @("form-group has-error".when(myForm("surname").hasErrors))  }" >
   <label class="control-label" for="surname">Surname<span style="color:#AB1403"> *</span></label>
   <input class="form-control" ng-value='@myForm("surname").value' type="text" id="surname" 
   ng-model="user.surname" ng-minlength="4" ng-maxlength="45" 
   pattern="(^[\u00BF-\u1FFF\u2C00-\uD7FF\w ]+|[\_]+/ig, )"
   ng-init="user.surname='@myForm("surname").value'" 
   name="surname"  placeholder="Surname" required />	
  
   </div>
   
   <!-- Birth day -->
   <div class='@("form-group has-error".when(myForm("dob").hasErrors)) form-group' 
   ng-class="{ 'has-error' : userForm.dob.$invalid && !userForm.dob.$pristine,
   'has-success': userForm.dob.$valid,
   @("form-group has-error".when(myForm("dob").hasErrors)) }" >
   <label class="control-label" for="dob">Date of Birth<span style="color:#AB1403"> *</span></label>
   <input class="form-control datepicker-bit min-dob" ng-value='@myForm("dob").value' id="datepicker"
   name="dob" type="date" onClick="this.select()" max="1997-01-01" placeholder="Date of birth"
   ng-model="user.dob" 
   ng-init="user.dob='@myForm("dob").value'" required/>
  
   </div> 
   <span id="error" style="display:none; color:red"> "youAreUnder18" </span>
   
   <!-- GENDER -->
   <label class="radio-inline">
   <input  ng-value='@myForm("gender").value' type="radio" id="gender-male" name="gender"  value="male" checked /> 
   @Messages("male")
   </label>
   <label class="radio-inline">
   <input  ng-value='@myForm("gender").value' type="radio" id="gender-female" name="gender"  value="female" /> 
   @Messages("female")
   </label>
   <br><br>
   
   <!-- Adress -->
   <div class='@("form-group has-error".when(myForm("adress").hasErrors)) form-group'
   ng-class="{ 'has-error' : userForm.adress.$invalid && !userForm.adress.$pristine,
   'has-success': userForm.adress.$valid,
   @("form-group has-error".when(myForm("adress").hasErrors))}" >
   <label class="control-label" for="adress">Adress<span style="color:#AB1403"> *</span></label>
   <input class="form-control" ng-value='@myForm("adress").value' type="text" id="adress" name="adress"
   pattern="(^[\u00BF-\u1FFF\u2C00-\uD7FF\w .,]+|[\_]+/ig, )" 
   ng-model="user.adress" ng-minlength="6" ng-maxlength="165" placeholder="Adress"
   ng-init="user.adress='@myForm("adress").value'"  required/>  
  
   </div>
   
   <!-- City -->
   <div class='@("form-group has-error".when(myForm("city").hasErrors)) form-group'
   ng-class="{ 'has-error' : userForm.city.$invalid && !userForm.city.$pristine, 
   'has-success': userForm.city.$valid,
   @("form-group has-error".when(myForm("city").hasErrors))}" >
   <label class="control-label" for="city">City<span style="color:#AB1403"> *</span></label>
   <input class="form-control" ng-value='@myForm("city").value' type="text" id="city" name="city" 
   pattern="(^[\u00BF-\u1FFF\u2C00-\uD7FF\w .]+|[\_]+/ig, )"
   ng-model="user.city" ng-minlength="6" ng-maxlength="165" placeholder="City"
   ng-init="user.city='@myForm("city").value'"  required/>
   </div>                                     
   
   <!-- Status -->
   <div class='@("form-group has-error".when(myForm("status").hasErrors)) form-group'
    ng-class="{ 'has-error' : userForm.status.$invalid && !userForm.status.$pristine,
   'has-success': userForm.status.$valid,
   @("form-group has-error".when(myForm("status").hasErrors))}" >
    <label class="control-label" for="status">Status<span style="color:#AB1403"> *</span></label>
   <input class="form-control" ng-value='@myForm("status").value' type="text" id="status" name="status"
   pattern="(^[\u00BF-\u1FFF\u2C00-\uD7FF\w .,]+|[\_]+/ig, )" 
   ng-model="user.adress" ng-minlength="6" ng-maxlength="165" placeholder="Status"
   ng-init="user.adress='@myForm("status").value'"  required/>  
   </div>
   <button type="submit" id="submit-user" ng-disabled="userForm.$invalid" class="btn btn-block btn-success" >Submit</button>
   <p ng-show="userForm.$invalid" class="help-block" style="text-align:center"></p>
   </div>
   
</form>