@(v: Vehicle)
@import helper._
@main("addInsurance") {
		
@_menuBars()
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="main">
        <h1 class="page-header">ADD NEW VEHICLE INSURANCE</h1>
        <div class="content">
            <div class="section group">
                <div class="col span_2_of_3">
                    <div style="width:200px" class="contact-form">
                        <h1 class="redHeader">@Messages("")</h1>
                        <br>
                        <form name="newServiceForm" action="@routes.InsuranceController.addInsurance(v.id)" method="POST" enctype="multipart/form-data">

                            <h5 id="editProfileText">Contract number:*</h5>
                            <input class="form-control" pattern=".{3,30}" required title="@Messages(" one up to fifty character ")" type="text" value="" id="contractNo" name="contractNo" required/>
							<br>
                            <h5 id="editProfileText">Expiry Date *</h5>
                            <input class="form-control datepicker-bit min-dob" id="datepicker" name="expDate" type="date" onClick="this.select()" placeholder="Date" required/>
							<br>
                            <h5 id="editProfileText">Insurance Type:*</h5>
                             <select class="form-control"  value='' id="insuranceT" name="insuranceT" required>
                                <option>Uninsured Motorist Protection</option>
                                <option>Collision Insurance</option>
                                <option>Liability Insurance</option>
                                   <option>Comprehensive Insurance</option>
                                   <option>Personal-Injury Protection</option>
                                   <option>No-Fault Insurance</option>
                                   <option>Gap Insurance</option>
                            </select>
								<br>
                            <h5 id="editProfileText">Cost:*</h5>
                            <input class="form-control" pattern=".{3,30}" required title="@Messages(" one up to fifty character ")" type="number" value="" id="cost" name="cost" required/>
                            <div>
                            <hr>
                                <br>
                                <input class="btn btn-primary btn-odmak btn-fontNovi" style="width:60px" type="submit" value="@Messages(" Add ")" />
                                <button type="button" class="btn btn-danger" style="width:60px" onclick="window.location.href='/'">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}

