@(v: Vehicle)(services:List[Service])
@import helper._
@main("addMAintenanceService") {
		
@_menuBars()
 <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="main">
        <h2 class="page-header">ADDING MAINTENANCE</h2>
        <div class="content">
            <div class="section group">
                <div class="col span_2_of_3">
                    <div style="width:200px" class="contact-form">

                        <h1 class="redHeader"></h1>
                        <br>
                        <form name="maintenanceForm" action="@routes.MaintenanceController.addMaintenance(v.id)" method="POST" enctype="multipart/form-data">
                            <label>Choose a service:</label>
                            <select class="form-control" value='' id="serviceType" name="serviceType" required>
                                @for(service <- services) { 
                                <option type="text">@service.stype</option>
                                    }
                            </select>
                            </br>
                            <h5 id="editProfileText">Date *</h5>
                            <input class="form-control datepicker-bit min-dob" id="datepicker" name="mDate" type="date" onClick="this.select()" placeholder="Scedule date" required/>
                            </br>
                            <div>
                                <input class="btn btn-primary btn-odmak btn-fontNovi" type="submit" value="@Messages(" Add ")" />
                                <button type="button" class="btn btn-danger" onclick="window.location.href='/'">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
	$('#buttonZaVozilo').click(function(e) {
			$('#divZaVozilo').show();
	})
});
</script>

}