@import helper._
@main("ADD ROUTE") {
		
@_menuBars()
	  <!DOCTYPE html>

<html>

  <head>
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 80%; width: 60%;float:right;top:70%; }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script type="text/javascript">

var map;
function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: -34.397, lng: 150.644},
    zoom: 8
  });
}

    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyBo-Bd6DkFThLppIYa8aXiasmL1Wx_Wk_s&callback=initMap">
    </script>
  

 <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="width:100%: height:100%">
    <div class="main" style="width:100%; height:100%">
        <h1 class="page-header">ADD ROUTE</h1>
                                
        <div class="content" style="width:100%; height:100%">
            <div class="section group">
                <div class="col span_2_of_3">
                    <div style="width:200px; height:100%" class="contact-form">
                        <h1 class="redHeader">@Messages("")</h1>
                        <br>
                        <form name="newVehicleForm" action="@routes.RouteController.addRoute" method="POST" enctype="multipart/form-data">
                            <h5 id="editProfileText">Start Point:*</h5>
                            <input class="form-control" pattern=".{3,30}" required title="@Messages(" one up to fifty character ")" type="text" value="" id="startPoint" name="startPoint" required/>
                            <h5 id="editProfileText">End Point:*</h5>
                           
                            <input class="form-control" pattern=".{3,140}" required title="@Messages(" four characters ")" type="text" value="" id="endPoint" name="endPoint" required/>
                            <div><hr>
                                </br>
                                <input class="btn btn-primary btn-odmak btn-fontNovi" style="width:60px" type="submit" value="@Messages(" Add ")" />
                                <button type="button" class="btn btn-danger" style="width:60px" onclick="window.location.href='/'">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

  </body>
</html>

}