@(drivers: List[Employee])(vehicles: List[Vehicle])(allRoutes: List[Route])
@import helper._
@main("ADD TRAVEL ORDER") {
@_menuBars()
 <!DOCTYPE html>
<html>
  <head>
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/jquery-ui.theme.min.css")">
 <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/jquery-ui.theme.css")">
<style type="text/css">
      #map_canvas {position:relative; height: 75%; width: 65%;float:right;  top:5%;   padding-top:10%;}    
         
 #address {position:absolute; top:17%;left:1%;     }    
	        #lat {  position:absolute; top:22%; left:1%;  }    
            #lng {position:absolute; top:27%; left:1%;  }    
            #addPointButton {position:absolute; top:27%; left:15%;  }    
            #points {position:absolute; top:1%; left:1%;  }    
            #info {position:absolute; top:13%;left:1%;     }    
            #listDiv {position:absolute; top:32%; left:0%;  }  
      </style>
        </head>
  <body>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="main">
        <h1 class="page-header">ADD TRAVEL ORDER</h1>
        <div class="content">
            <div class="section group">
                <div class="col span_2_of_3">
                    <div style="width:400px" class="contact-form">
                        <h1 class="redHeader"></h1>
                        <br>
                        <form name="travelOrderForm" action="@routes.TravelOrderController.addTravelOrder()" method="POST" enctype="multipart/form-data">
                            <h4 id="editProfileText">TRAVEL ORDER NO: @TravelOrder.numberTo</h4>
                            <br>
                            <h5 id="editProfileText">Route *</h5>
                            @if(allRoutes.size()>0){
                            <select class="form-control"  id="routeName" name="routeName" style="display: inline-block;width:350px" required>
                                <option></option>
                                @for(route <- allRoutes) { 
                                <option value="@route.id">@route.startPoint-@route.endPoint</option>
                                    }
                            </select>
                            }else{
                            <select class="form-control" value='' id="routeName" name="routeName" style="display: inline-block;width:350px" required>
                               <option  disabled selected>No records</option>
                                    
                            </select>
                            }
                               <a title="Add New" data-toggle="tooltip" href="#newRouteModal" style="display: inline-block;" class="btn btn-info"><i class="fa fa-plus-circle"></i></a>                        

                            <br>
                                <br>
                            <h5 id="editProfileText">Travel Order Name *</h5>
                            <input class="form-control" pattern=".{3,30}" required title="@Messages(" one up to fifty character ")" type="text" value="" id="name" name="name" required/>
                            <br><br>
                            <h5 id="editProfileText">Vehicle *</h5>
                            @if(vehicles.size()>0){
                            <select class="form-control" id="vId" name="vId" required>
                                <option value=""></option>
                                @for(vehicle <- vehicles) { 
                                <option value="@vehicle.vid">@vehicle.vid </option>
                                    }
                            </select>
                            }
                            <br>
                            <br>
                            <h5 id="editProfileText">Driver *</h5>
                            @if(drivers.size()>0){
                            <select class="form-control" id="firstName" name="firstName" required>
                                @for(driver <- drivers) { 
                                <option>@driver.fullName</option>
                                    }
                            </select>
                            }
                            <br>
                            <br>
                            
                            
                            
                            <h5 id="editProfileText">Reason *</h5>
                            <textarea class="form-control" placeholder="Reason of travel order" type="text" value="" id="reason" name="reason" required ng-maxlength="200" rows="6"></textarea>
                            <br>
                            <h5 id="editProfileText">Start Date *</h5>
					<input type="date" name="dateS" id="dateS" value="" />                           <br> 
                            <h5 id="editProfileText">Return Date *</h5>
					<input type="date" name="dateR" id="dateR" value="" />                            </br>
                            <div><hr><br>
                                <input class="btn btn-primary btn-odmak btn-fontNovi" style="width:60px" type="submit" value="@Messages(" Add ")" />

                                <button type="button" class="btn btn-danger" style="width:60px" onclick="window.location.href='/'">Cancel</button>
                            </div>
                        </form>
    <form name="newRouteForm" id="newRouteForm" action="@routes.RouteController.addRouteWithMap2" method="POST" enctype="multipart/form-data">
                        <!-- Modal -->
                        <div id="newRouteModal" class="modalDialog">
                           <div style="width:80%; height:80% !important">	
                           	<a href="#close" title="Close" class="close">X</a>
                                <h2 class="redHeader">ADD NEW ROUTE</h2><hr>
     <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<p id="info" style="font-size:small">*You can remove created list item by clicking on it</p>
    <input type="text" id="address" size="30"><br>
    <input type="text" id="lat" size="15">
    <input type="text" id="lng" size="15">
  <button  id="addPointButton" type="button" onclick="addPoint(); return false;">Add point</button>
<div id="listDiv" style="width:35%; height: 50%; overflow : auto; padding-top: 10px; max-height: 100vh; padding:0px;margin:0px;">
<ol id="points" name="points"></ol>
</div>
<textarea style="display:none" textarea id="t" name="t"></textarea>
                        <div id="map_canvas" class=""></div>
                        </br>
                                <a style="width:60px; position:absolute; top:90%; left:8%" href=""#close"" class="btn btn-success btn-odmak btn-fontNovi">Close</a> 
                              <a style="position:absolute;  top:90%;left:2%;width:60px" class="btn btn-primary btn-odmak btn-fontNovi" onClick="getAllPoints()">Save  <b class="glyphicon glyphicon-floppy-save"></b></a>

                           </div>
                        </div>
                     </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

                        
                     </body>
                     </html>
<script>
$(document).ready(function() {
	$('#buttonZaVozilo').click(function(e) {
			$('#divZaVozilo').show();
	});
});
</script>
<script>
$('#newRouteModal').on('shown.bs.modal', function() {
    initialize();
});
</script>
<script>
$(document).ready(function() {
	 $('#dateS').datepicker(); 
	 $('#dateR').datepicker(); 
});
</script>
<script>
  var map;
var geocoder;
var mapOptions = { center: new google.maps.LatLng(0.0, 0.0), zoom: 2,
                  mapTypeId: google.maps.MapTypeId.ROADMAP };
function initMap() {
  var myOptions = {
    center: new google.maps.LatLng(43.84864, 18.35644),
    zoom: 15,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  geocoder = new google.maps.Geocoder();
  var map = new google.maps.Map(document.getElementById("map_canvas"),
                                myOptions);
  google.maps.event.addListener(map, 'click', function(event) {
    getLocation(event.latLng);
  });
  var marker;
  function getLocation(location) {
    
    document.getElementById('lat').value=location.lat();
    document.getElementById('lng').value=location.lng();
    getAddress(location);
  }
  function getAddress(latLng) {
    geocoder.geocode( {'latLng': latLng},
                     function(results, status) {
      if(status == google.maps.GeocoderStatus.OK) {
        if(results[0]) {
          document.getElementById("address").value = results[0].formatted_address;
        }
        else {
          document.getElementById("address").value = "No results";
        }
      }
      else {
        document.getElementById("address").value = status;
      }
    });
  }
}
google.maps.event.addDomListener(window, 'load', initMap);
google.maps.event.addDomListener(window, "resize", resizingMap());
$('#myMapModal').on('show.bs.modal', function() {
   //Must wait until the render of the modal appear, thats why we use the resizeMap and NOT resizingMap!! ;-)
   resizeMap();
});
function resizeMap() {
   if(typeof map =="undefined") return;
   setTimeout( function(){resizingMap();} , 400);
}
function resizingMap() {
   if(typeof map =="undefined") return;
   var center = map.getCenter();
   google.maps.event.trigger(map, "resize");
   map.setCenter(center); 
}
</script>
<script>
	function addPoint() {
		console.log("WE ARE IN METHOD addPoint");
var lat = document.getElementById("lat").value;
if(lat){
var lng = document.getElementById("lng").value;
var address = document.getElementById("address").value;
var nLine=", \n";
var coordinates = lat+nLine+lng+nLine+address;
var addressArray = coordinates.split(",");
var streetName=addressArray[2];
coordinates = lat+nLine+lng+nLine+streetName;
document.getElementById('lat').value = "";
document.getElementById('lng').value = "";
document.getElementById('address').value = "";
    $('#points').append($('<li>', {text:coordinates}));
    document.getElementById("points").style.fontSize = "small";
   }else{
   	window.alert("ERROR, TEXT BOXES MUST BE POPULATED!");
   }
}
</script>
<script>
	function getAllPoints() {
		console.log("WE ARE IN METHOD getAllPoints");
		var list = document.getElementById('points').childNodes;
		var theArray = [];
		for(var i=0;i < list.length; i++) {
		    var arrValue = list[i].innerHTML;
		  	theArray.push(arrValue);
		}
$('#t').val(theArray);
   	 document.getElementById("newRouteForm").submit();
}
</script>
<script>
function removeItem(evt)
{
    //# remove item
    this.removeChild(evt.target);
    //# stop event (target does not exist any more)
    evt.stopPropagation();
}
document.getElementById("points").addEventListener("click", removeItem, true);
</script>
<script>
   function submitMainForm() {
   	 document.getElementById("travelOrderForm").submit();
   }
</script>
}