@(v: Vehicle)
@import helper._
@main("addVRegistration") {
		
@_menuBars()
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="main">
        <h1 class="page-header">ADD NEW VEHICLE REGISTRATION</h1>
        <div class="content">
            <div class="section group">
                <div class="col span_2_of_3">
                    <div style="width:200px" class="contact-form">
                        <h1 class="redHeader">@Messages("")</h1>
                        <br>

                        <form name="newServiceForm" action="@routes.VRegistrationController.addVRegistration(v.id)" method="POST" enctype="multipart/form-data">

							<h5 id="editProfileText">VEHICLE ID: @v.vid</h5>
							<br>

                            <h5 id="editProfileText">Registration number:*</h5>
                            <input pattern=".{3,30}" required title="@Messages(" one up to fifty character ")" type="text" value="" id="regNo" name="regNo" required/>

 							<h5 id="editProfileText">Registration  Date *</h5>
                            <input class="form-control datepicker-bit min-dob" id="datepicker" name="regDate" type="date" onClick="this.select()" placeholder="" required/>

                            <h5 id="editProfileText">Expiration Date *</h5>
                            <input class="form-control datepicker-bit min-dob" id="datepicker" name="expDate" type="date" onClick="this.select()" placeholder="Expire" required/>
                            
                            <h5 id="editProfileText">City:</h5>
                            <input pattern=".{3,30}"  title="@Messages(" one up to fifty character ")" type="text" value="" id="regNo" name="regNo" />
                            <div>
                            <hr><br>
                                <input class="btn btn-primary btn-odmak btn-fontNovi" style="width:60px" type="submit" value="@Messages(" Add ")" />
                                <button type="button" class="btn btn-danger" style="width:60px" onclick="window.location.href='/'">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}

