@(drivers: List[Driver])(vehicles: List[Vehicle])(clients: List[Client])
@import helper._
@main("addWorkOrder") {
		
@_menuBars()
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
<div class="main">
          <h2 class="page-header">ADD WORK ORDER</h2>
		<div class="content">
    		<div class="section group">
				<div class="col span_2_of_3">
<div style="width:200px" class="contact-form">
				 
				  		<h1 class="redHeader"></h1><br>
				  					<form name="workOrderForm" action="@routes.WorkOrderController.addWorkOrder()" method ="POST" enctype="multipart/form-data" novalidate >
								<h3 id="editProfileText">Work Order Number *</h3>
									<label><h3> @WorkOrder.commonId</h3></label><br><br>
									
									<label>Choose a client:</label>
									@if(clients.size()>0){
									<select class="form-control"  value=''  id="clName" name="clName" required>
									<option></option>
									@for(client <- clients) {
   																  
  												    <option>@client.cName</option>
 									 }
  
								</select>
    		 }
									<label>Choose a vehicle:</label>
									@if(vehicles.size()>0){
									<select class="form-control"  value=''  id="vehicleName" name="vehicleName" required>
									<option value=""></option>
									@for(vehicle <- vehicles) {
   																  
  										<option value="@vehicle.name">@vehicle.name</option>
 									 }
  
								</select>
    		 }<br><br>
    		 						
    		 						<label>Choose a driver:</label>
									@if(drivers.size()>0){
									<select class="form-control"  value=''  id="driverName" name="driverName" required>
									<option></option>
									@for(driver <- drivers) {
   																  
  												    
  									<option>@driver.driverName</option>
 									 }
  
								</select>
    		 }<br><br>	
									
									
									
									

									<h5 id="editProfileText">Description *</h5>
									<textarea class="form-control" placeholder="Work Order Description " type="text" value="" id="description" name="description" required ng-maxlength="200" rows="6"></textarea>
									<br><br>
								<h5 id="editProfileText">Work Order Status *</h5>

									<select class="form-control"  value=''  id="statusWo" name="statusWo" required>
										<option></option>
								<option>Open</option>
								<option>Closed</option>
									<option>Complete</option>
									</select>

								</br>
									<div>
									<input class="btn btn-primary btn-odmak btn-fontNovi" type="submit" value="@Messages("Add")" />  <button type="button" class="btn btn-danger" onclick="window.location.href='/'" >Cancel</button>
  							 </div>
							</form>
							
				  		</div>	
				  				
        	</div> 
    	</div>
	</div>
</div>
</div>

}