@(employee: Employee)(admins: List[Admin])(userForm: Form[Employee])
@import helper._
@main("User Panel") {

@_menuBars()
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="container">
        <div class="features_items">
            <!--features_items-->
            <h2><span style="margin-left:270px;">@Messages("editUser")</span></h2>
            <div class="col-sm-6 col-sm-offset-1">
                <h5>Edit user: @employee.name  @employee.surname</h5>

                <form action="@routes.AdminController.adminUpdateUser(employee.id)" method="POST">
                    <hr> @if(userForm.hasGlobalErrors){
                    <div class="panel panel-danger">
                        <div class="panel-heading">@Messages("errorSubmitingForm")</div>
                        <div class="panel-body">
                            <ul>
                                @for(err <- userForm.globalErrors){ 
                                <li> @err.message </li>
                                    }
                            </ul>
                        </div>
                    </div>
                    }
                    <div class="form group">
                        <!-- onchange="form.confirmPassword.pattern = this.value;" -->
                        <!-- Input email -->
                        <div class='@("form-group has-error".when(userForm("email").hasErrors)) form-group'>
                            <label class="control-label" for="email">@Messages("email")<span style="color:#AB1403"> *</span>
                            </label>
                            <input class="form-control" value='@userForm("email").value' type="email" id="email" name="email" onClick="this.select()" placeholder="Email" required/>
                        </div>
                        <!-- Username -->
                        <div class='@("form-group has-error".when(userForm("name").hasErrors)) form-group'>
                            <label class="control-label" for="name">@Messages("username")<span style="color:#AB1403"> *</span>
                            </label>
                            <input class='@("has-error".when(userForm("name").hasErrors)) form-control' value='@userForm("name").value' type="text" id="name" name="name" onClick="this.select()" placeholder="Name" required/>
                        </div>
                        <!-- Surname -->
                        <div class='@("form-group has-error".when(userForm("surname").hasErrors)) form-group'>
                            <label class="control-label" for="surname">@Messages("surname")<span style="color:#AB1403"> *</span>
                            </label>
                            <input class="form-control" value='@userForm("surname").value' type="text" id="surname" name="surname" onClick="this.select()" placeholder="Surname" required/>
                        </div>

                        <!-- Profile Picture -->
                        <div class='@("form-group has-error".when(userForm("profilePicture").hasErrors)) form-group'>
                            <label class="control-label" for="profilePicture">Profile Picture<span style="color:#AB1403"> *</span>
                            </label>
                            <input class="form-control" value='@userForm("profilePicture").value' type="text" id="profilePicture" name="profilePicture" onClick="this.select()" placeholder="Url/path for profile picture" />
                        </div>

                        <!-- Birth day -->
                        <div class='@("form-group has-error".when(userForm("dob").hasErrors)) form-group'>
                            <label class="control-label" for="dob">@Messages("dateOfBirth")<span style="color:#AB1403"> *</span>
                            </label>
                            <input class="form-control datepicker-bit " id="datepicker" name="dob" type="date" onClick="this.select()" max="1997-01-01" placeholder="Date of birth" />
                        </div>
                        <span id="error" style="display:none; color:red"> @Messages("youAreUnder18") </span>

                        <!-- GENDER -->
                        <label class="radio-inline">
                            <input value='@userForm("gender").value' type="radio" id="gender-male" name="gender" value="male" checked /> @Messages("male")
                        </label>
                        <label class="radio-inline">
                            <input value='@userForm("gender").value' type="radio" id="gender-female" name="gender" value="female" /> @Messages("female")
                        </label>
                        <br>
                        <br>
                        <!-- Adress -->
                        <div class='@("form-group has-error".when(userForm("adress").hasErrors)) form-group'>
                            <label class="control-label" for="adress">@Messages("address")<span style="color:#AB1403"> *</span>
                            </label>
                            <input class="form-control" value='@userForm("adress").value' type="text" id="adress" name="adress" onClick="this.select()" placeholder="Adress" />
                        </div>
                        <!-- City -->
                        <div class='@("form-group has-error".when(userForm("city").hasErrors)) form-group'>
                            <label class="control-label" for="city">@Messages("city")<span style="color:#AB1403"> *</span>
                            </label>
                            <input class="form-control" value='@userForm("city").value' type="text" id="city" name="city" onClick="this.select()" placeholder="City" />
                        </div>

                        <!-- Status -->
                        <div class='@("form-group has-error".when(userForm("status").hasErrors)) form-group'>
                            <label class="control-label" for="status">Status<span style="color:#AB1403"> *</span>
                            </label>
                            <select class="form-control" value='@userForm("status").value' id="status" name="status" required>

                                <option value='@userForm("status").value' style="display:none">@userForm("status").value</option>

                                <option>Active</option>
                                <option>Retired</option>
                                <option>Holidays</option>
                                <option>SickLeave</option>
                                <option>Deleted</option>

                            </select>

                        </div>
                        <button type="submit" id="submit-user" class="btn btn-block btn-success">@Messages("submit")</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
}