@(myForm: Form[Admin])
@import helper._
@main("Registration"){

@_menuBars()
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
					<div ng-app="formApp" ng-controller="formController">
						<div id="someId" class="container">
							<div class="features_items">
								<!--features_items-->

								<div class="col-sm-6 col-sm-offset-1">
					<h2 class="page-header"><span style="margin-left:230px">Admin Registration</span></h2>
									<!--sign up form-->

									<div>
									<form name="userForm" action="/registerAdmin" method="POST" novalidate enctype="multipart/form-data" >
   <hr>
   @if(myForm.hasGlobalErrors){
   <div class="panel panel-danger">
      <div class="panel-heading">@Messages("errorSubmitingForm")</div>
      <div class="panel-body">
         <ul>
            @for(err <- myForm.globalErrors){
            <li> @err.message </li>
            }
         </ul>
      </div>
   </div>
   }				
   <div class="form group" >
      <!-- onchange="form.confirmPassword.pattern = this.value;" -->
      <!-- Input email -->
      <div class='@("form-group has-error".when(myForm("email").hasErrors)) form-group' ng-class="{'has-error' : userForm.email.$invalid && !userForm.email.$pristine,'has-success': userForm.email.$valid,
      @("form-group has-error".when(myForm("email").hasErrors)) }">
      <label class="control-label" for="email">@Messages("email")<span style="color:#AB1403"> *</span></label>
      <input class="form-control" ng-value='@myForm("email").value' type="email" id="email" name="email" placeholder="Email" ng-minlength="3" ng-model="user.email" ng-init="user.email='@myForm("email").value'" required/> 
      <!-- Email error messages. -->
      <p ng-show="userForm.email.$error.minlength" class="help-block">@Messages("minLength", 3)</p>
      <p ng-show="userForm.email.$error.maxlength" class="help-block">@Messages("maxLength", 20)</p>
      <p ng-show=
      "userForm.email.$error.email" class="help-block">@Messages("invalidEmailFormat")</p>
   </div>
   <!-- Password -->
   <div class='@("form-group has-error".when(myForm("password").hasErrors)) form-group' ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine, 'has-success': userForm.password.$valid, @("form-group has-error".when(myForm("password").hasErrors)) }">
   <label class="control-label" for="password">@Messages("password")<span style="color:#AB1403"> *</span></label>
   <input class="form-control" ng-value='@myForm("password").value' id="password" type="password"
      ng-model="user.password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" 
      name="password"  placeholder="Password" ng-minlength="6" ng-maxlength="15"
      required/>	
   <p ng-show="userForm.password.$error.minlength" class="help-block">@Messages("minLength", 6)</p>
   <p ng-show="userForm.password.$error.maxlength" class="help-block">@Messages("maxLength", 20)</p>
   <p ng-show="userForm.password.$error.pattern" class="help-block">
      @Messages("passwordFormat")
   </p>
   </div>
   
   <!-- Confirm password -->
   <div class='@("form-group has-error".when(myForm("password").hasErrors)) form-group'
   ng-class="{ 'has-error' : userForm.confirmPassword.$invalid && !userForm.confirmPassword.$pristine,
   'has-success': userForm.confirmPassword.$valid,
   @("form-group has-error".when(myForm("password").hasErrors))}" >
   <label class="control-label" for="confirmPassword">@Messages("confirmPassword")<span style="color:#AB1403"> *</span></label>
   <input class="form-control" ng-value='@myForm("confirmPassword").value' type="password" 
      required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" name="confirmPassword" id="confirmPassword"
      ng-model='user.confirmPassword' ng-minlength="6" ng-maxlength="20"
      password-match="user.password" placeholder="Confirm Password: "/>	
   <p ng-show="userForm.confirmPassword.$error.passwordMatch && !userForm.confirmPassword.$pristine" class="help-block"> Passwords do not match.</p>
   </div>
   
   <!-- Name --> 
   <div class='@("form-group has-error".when(myForm("name").hasErrors)) form-group' 
   ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine, 
   'has-success': userForm.name.$valid,
   @("form-group has-error".when(myForm("name").hasErrors)) }" >			     	
   <label class="control-label" for="name">@Messages("name")<span style="color:#AB1403"> *</span></label>
   <input class='@("has-error".when(myForm("name").hasErrors)) form-control'
   ng-value='@myForm("name").value' type="text" id="name" name="name"
   ng-model="user.name" ng-minlength="4" ng-maxlength="45"
   ng-init="user.name='@myForm("name").value'" 
   ng-pattern="/^[A-Za-z0-9 _]*[A-Za-z0-9][A-Za-z0-9 _]*$/"	placeholder="Name" required/>	
   <p ng-show="userForm.name.$error.minlength" class="help-block">@Messages("minLength", 4)</p>
   <p ng-show="userForm.name.$error.maxlength" class="help-block">@Messages("minLength", 45)</p>
   <p ng-show="userForm.name.$error.pattern" class="help-block">
      @Messages("onlyLettersAndNumbers")
   </p>
   </div>
   <!-- Surname -->
   
   <div class='@("form-group has-error".when(myForm("surname").hasErrors)) form-group'
   ng-class="{ 'has-error' : userForm.surname.$invalid && !userForm.surname.$pristine,
   'has-success': userForm.surname.$valid,
   @("form-group has-error".when(myForm("surname").hasErrors))  }" >
   <label class="control-label" for="surname">@Messages("surname")<span style="color:#AB1403"> *</span></label>
   <input class="form-control" ng-value='@myForm("surname").value' type="text" id="surname" 
   ng-model="user.surname" ng-minlength="4" ng-maxlength="45" 
   pattern="(^[\u00BF-\u1FFF\u2C00-\uD7FF\w ]+|[\_]+/ig, )"
   ng-init="user.surname='@myForm("surname").value'" 
   name="surname"  placeholder="Surname" required />	
   <p ng-show="userForm.surname.$error.minlength" class="help-block">@Messages("minLength", 4)</p>
   <p ng-show="userForm.surname.$error.maxlength" class="help-block">@Messages("maxLength", 45)</p>
   <p ng-show="userForm.surname.$error.pattern" class="help-block">
      @Messages("onlyLetters")
   </p>
   </div>
   
   
   <!-- Adress -->
   <div class='@("form-group has-error".when(myForm("adress").hasErrors)) form-group'
   ng-class="{ 'has-error' : userForm.adress.$invalid && !userForm.adress.$pristine,
   'has-success': userForm.adress.$valid,
   @("form-group has-error".when(myForm("adress").hasErrors))}" >
   <label class="control-label" for="adress">@Messages("address")<span style="color:#AB1403"> *</span></label>
   <input class="form-control" ng-value='@myForm("adress").value' type="text" id="adress" name="adress"
   pattern="(^[\u00BF-\u1FFF\u2C00-\uD7FF\w .,]+|[\_]+/ig, )" 
   ng-model="user.adress" ng-minlength="6" ng-maxlength="165" placeholder="Adress"
   ng-init="user.adress='@myForm("adress").value'"  required/>  
   <p ng-show="userForm.adress.$error.minlength" class="help-block">@Messages("minLength", 6)</p>
   <p ng-show="userForm.adress.$error.maxlength" class="help-block">@Messages("minLength", 165)</p>
   <p ng-show="userForm.adress.$error.pattern" class="help-block">
      @Messages("onlyLettersAndNumbers")
   </p>
   </div>
   
   <!-- City -->
   <div class='@("form-group has-error".when(myForm("city").hasErrors)) form-group'
   ng-class="{ 'has-error' : userForm.city.$invalid && !userForm.city.$pristine, 
   'has-success': userForm.city.$valid,
   @("form-group has-error".when(myForm("city").hasErrors))}" >
   <label class="control-label" for="city">@Messages("city")<span style="color:#AB1403"> *</span></label>
   <input class="form-control" ng-value='@myForm("city").value' type="text" id="city" name="city" 
   pattern="(^[\u00BF-\u1FFF\u2C00-\uD7FF\w .]+|[\_]+/ig, )"
   ng-model="user.city" ng-minlength="6" ng-maxlength="165" placeholder="City"
   ng-init="user.city='@myForm("city").value'"  required/>
   <p ng-show="userForm.city.$error.minlength" class="help-block">@Messages("minLength", 6)</p>
   <p ng-show="userForm.city.$error.maxlength" class="help-block">@Messages("minLength", 165)</p>
   <p ng-show="userForm.city.$error.pattern" class="help-block">
      @Messages("onlyLettersAndNumbers")
   </p>
   </div>
   <!-- ROLE -->
   <div class='@("form-group has-error".when(myForm("role").hasErrors)) form-group'
   ng-class="{ 'has-error' : userForm.role.$invalid && !userForm.role.$pristine, 
   'has-success': userForm.role.$valid,
   @("form-group has-error".when(myForm("role").hasErrors))}" >
   <label class="radio-inline">
   <input  ng-value='@myForm("role").value' type="radio" id="role-admin" name="role"  value="admin" checked /> 
  Admin
   </label>
   <label class="radio-inline">
   <input  ng-value='@myForm("role").value' type="radio" id="role-manager" name="role"  value="manager" /> 
   Manager
   </label>
   </div>
   <br><br>    
                                    
   <button type="submit" id="submit-user" ng-disabled="userForm.$invalid" class="btn btn-block btn-success" >Submit</button>
   <p ng-show="userForm.$invalid" class="help-block" style="text-align:center">@Messages("allFieldsCorrectly")</p>
   </div>
</form>
</div>
									<br>
								</div>
							</div>
						</div>
					</div>

					}