@(trains: List[Vehicle])(wagons: List[Vehicle])
@import helper._
@main("createTrainComposition") {
		
@_menuBars()
 <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="main">
        <h2 class="page-header">CREATE TRAIN COMPOSITION</h2>
        <div class="content">
            <div class="section group">
                <div class="col span_2_of_3">

                    <div class="contact-form">
                        <div class="form-group" style="padding:1%;margin-right:700px;">
                            <h1 class="redHeader"></h1>
                            <br>
                            <form name="travelOrderForm" action="@routes.TruckCompositionController.createTruckComposition()" method="POST" enctype="multipart/form-data" novalidate>
                                <label>CHOOSE A TRAIN(HEAD):</label>
                                @if(trains.size()>0){
                                <select class="form-control" id="trainID" name="trainID" required>
                                    <option value=""></option>
                                    @for(train <- trains) {
                                    	 <option value="@train.id">@train.name / </option>
                                        }

                                </select>
                                }
                                <br>
                                <br>

                                <label>CHOOSE A WAGON:</label>
                                @if(wagons.size()>0){
                                <select class="form-control" id="wagonID" name="wagonID" required>

                                    @for(wagon <- wagons) { 
                                    <option value="@wagon.id">@wagon.name / </option>
                                        }

                                </select>
                                }
                                <br>
                                <div>
                                    <input class="btn btn-primary btn-odmak btn-fontNovi" type="submit" value="@Messages(" Create ")" />
                                    <button type="button" class="btn btn-danger" onclick="window.location.href='/'">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
	$('#buttonZaVozilo').click(function(e) {
			$('#divZaVozilo').show();
	})
});
</script>

}