@(c: Currencyy)
@import helper._

@main("EDITING CURRENCY") {
		
@_menuBars()
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="main">
        <h2 class="page-header">EDIT CURRENCY</h2>
        <div class="content">
            <div class="section group">
                <div class="col span_2_of_3">
                    <div class="contact-form">
                        <h1 class="redHeader">@Messages("")</h1>
                        <br>

                        <form name="editCurrencyForm" action="@routes.CurrencyController.editCurrency(c.id)" method="POST" enctype="multipart/form-data">

                            <h5 id="editProfileText">Name:*</h5>
                            <input required title="@Messages(" one up to fifty character ")" type="text" value="@c.name" id="name" name="name" required/>
							<br><br /><br />
                            <h5 id="editProfileText">Symbol:*</h5>
                            <input required title="@Messages(" four characters ")" type="text" value="@c.symbol" id="symbol" name="symbol" required/>
							<br><br /><br />
                            <h5 id="editProfileText">Description:</h5>
                            <input  type="text" value="@c.description" id="description" name="description" />
							<br/><br /><br />
                 			<div>
                            <input class="btn btn-primary btn-odmak btn-fontNovi" type="submit" value="@Messages(" Save ")" />
                            <button type="button" class="btn btn-danger" onclick="window.location.href='/'">Cancel</button>
						</div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
