@(emp: Employee)
@import helper._

@main("editDriver") {
		
@_menuBars()
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="main">
        <h1 class="page-header">EDIT DRIVER</h1>
        <div class="content">
            <div class="section group">
                <div class="col span_2_of_3">
                    <div style="width:200px" class="contact-form">

                        
                        <br>

                        <form id="form1" name="editEmployeeForm" action="@routes.EmployeeController.editEmployee(emp.id)" method="POST" enctype="multipart/form-data">

                            <h5 id="editProfileText">First name *</h5>
                            <input class="form-control" pattern=".{3,30}" required title="@Messages(" one up to fifty character ")" type="text" value="@emp.firstName" id="firstName" name="name" required/>

                            <h5 id="editProfileText">Last name *</h5>
                            <input class="form-control" pattern=".{3,30}" required title="@Messages(" one up to fifty character ")" type="text" value="@emp.lastName" id="lastName" name="lastName" required/>

                            <h5 id="editProfileText">Phone Number *</h5>
                            <input class="form-control" pattern=".{3,140}" title="@Messages(" one up to fifty characters ")" type="text" value="@emp.phone" id="phonemberNumber" name="phoneNu" />

                            <h5 id="editProfileText">Address *</h5>
                            <input class="form-control" pattern=".{3,140}"  title="@Messages(" one up to fifty characters ")" type="text" value="@emp.address" id="address" name="address" />

                             <h5 id="editProfileText">Email *</h5>
                            <input class="form-control" pattern=".{3,140}"  title="@Messages(" one up to fifty characters ")" type="text" value="@emp.email" id="email" name="email"/>

                            <h5 id="editProfileText">Date of Birth *</h5>
                            <input class="form-control datepicker-bit min-dob" value='@emp.dob' id="datepicker" name="dob" type="date" onClick="this.select()"  />
							<hr>
                            </br>

                        </form>
                        <a class="btn btn-primary btn-odmak btn-fontNovi" style="width:60px" onClick="myFunction()">Save  <b class="glyphicon glyphicon-floppy-save"></b></a>
                        <button type="button" class="btn btn-danger" style="width:60px" onclick="window.location.href='/'">Cancel</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
function myFunction() {
    document.getElementById("form1").submit();
}
</script>
}