@(tc: TruckComposition)
@import helper._
@main("editTravelOrder") {
		
@_menuBars()
 <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="main">
        <h2 class="page-header">EDIT TRUCK COMPOSITION</h2>
        <div class="content">
            <div class="section group">
                <div class="col span_2_of_3">
                    <div class="contact-form">
                        <div class="form-group" style="padding:1%;margin-right:700px;">
                            <br>
                            <form name="truckCompositionForm" action="@routes.TruckCompositionController.editTruckComposition(tc.id)" method="POST" enctype="multipart/form-data" novalidate>

                                    <h5 id="editProfileText">Truck Composition ID *</h5>
                                    <span class="uneditable-input">@tc.id</span>

                                    <h5 id="editProfileText">Number of vehicles *</h5>
                                    <input class="form-control" pattern=".{3,30}" required title="@Messages(" one up to fifty character ")" type="text" value="@tc.truckVehicles.size()" id="truckCompositionSize" name="truckCompositionSize" required/>

                                    <label>Choose a vehicle:</label>
                                    @if(tc.truckVehicles.size()>0){
                                    <select class="form-control" id="vehicleID" value="@tc.id" name="vehicleID" required>
                                        <option></option>
                                        @for(v <- tc.truckVehicles) { 
                                        <option>@v.name</option>
                                            }
                                    </select>
                                    }
                                    <input class="btn btn-primary btn-odmak btn-fontNovi" type="submit" value="@Messages(" Submit ")" />
                                    <button type="button" class="btn btn-danger" onclick="window.location.href='/'">Cancel</button>
                               
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
	$('#buttonZaVozilo').click(function(e) {
			$('#divZaVozilo').show();
	})
});
</script>

}