@(v: Vehicle)
@import helper._

@main("editVehicle") {
		
<div class="wrap">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Warehouses</title>
	    	
	
    <link href="file:///home/nera/Desktop/PROJEKTI/TIMIS/Warehouse(frontend)/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="file:///home/nera/Desktop/PROJEKTI/TIMIS/Warehouse(frontend)/bootstrap-3.3.5-dist/css/dashboard.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
<script>
$(document).ready(function() {
	$('#typeName').change(function(e) {
		if ($('#typeName option:selected').text() === 'New Type')
			$('#newType').show();
		else
			$('#newType').hide();
	})
});
</script>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <ul class="nav navbar-nav navbar-left">
          <li><a class="navbar-brand" href="/">Home</a></li>
          <li><a class="navbar-brand" href="">Organizations</a></li>
          <li><a class="navbar-brand" href="">Staff</a></li>
          <li><a class="navbar-brand" href="">Volunters</a></li>
          <li><a class="navbar-brand" href="">Projects</a></li>
          <li><a class="navbar-brand" href="">Warehouses</a></li>
          <li><a class="navbar-brand" href="">Assets</a></li>
          <li><a class="navbar-brand" href="">Surveys</a></li>
          <li><a class="navbar-brand" href="">Map</a></li>    
          <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="">More<b class="caret"></b></a>
            <ul class="dropdown-menu" id="menu1">
             <li><a href="#">Content Management</a></li>
             <li><a href="#">Documents</a></li>
             <li class="divider"></li>
             <li><a href="#">Vehicles</a></li>
             <li><a href="#">Requests</a></li>
             <li class="divider"></li>
             <li><a href="#">Shelters</a></li>
             <li><a href="#">Hospitals</a></li>
             <li class="divider"></li>
             <li><a href="#">Disaster Victim Registry</a></li>
             <li><a href="#">Events</a></li>
             <li class="divider"></li>
             <li><a href="#">Transport</a></li>
             <li><a href="#">Members</a></li>
             <li class="divider"></li>
             <li><a href="#">Budgeting Module</a></li>
             </ul>
          </li>
          </ul>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a data-toggle="dropdown"
							class="dropdown-toggle" href="">Logout<b class="caret"></b></a>
							<ul class="dropdown-menu" id="menu1">
								<li><a href="/logout">Logout</a></li>
								<li><a href="/changePass">Change Password</a></li>
								<li class="divider"></li>
								<li><a
									href="@routes.AdminController.controlPanel(Sesija.getCurrentAdmin(ctx()).id)">Admin
										Panel</a></li>
							</ul></li>
            <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="">Language<b class="caret"></b></a>
                 <ul class="dropdown-menu" id="menu1">
                  <li><a href="#">Bosanski</a></li>
                  <li><a href="#">English</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Arabian</a></li>
                  <li><a href="#">Turkce</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Deutch</a></li>
                  <li><a href="#">Italian</a></li>
                  <li class="divider"></li>
                  <li><a href="#">France</a></li>
                  <li><a href="#">Espanol</a></li>
                  <li class="divider"></li>
                 </ul>
            </li>
            <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="">Help<b class="caret"></b></a>
                 <ul class="dropdown-menu" id="menu1">
                  <li><a href="#">Contact us</a></li>
                  <li><a href="#">About</a></li>
                 </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
	      <div class="row">
	        <div style="height:90%" class="col-sm-3 col-md-2 sidebar">
	          <ul style="background:#DBDBDB" class="nav nav-sidebar">
	            <li class="heading active" style="border-bottom:1px solid #fff;"><a href="file:///home/global-gps/Desktop/wh/Warehouses.html">DASHBOARD<span class="sr-only">(current)</span></a></li>
	          <li style="border-top:2px solid #fff;"><a href="">FLEET MANAGEMENT</a></li>
	            <ul>
	            <p><a href="/addFleet">Add Fleet</a></p>
	            <p><a href="/allFleets">List Fleets</a></p>
	            </ul> 
	            <li style="border-top:2px solid #fff;"><a href="">VEHICLE MANAGEMENT</a></li>
	            <ul>
	<div class="dropdown">
	  <ul class="dropdown-menu-right">
	    <li><a href="/addVehicle">Add Vehicle</a></li>
	    <li><a href="/allVehicles">List Vehicles</a></li>
	   
	  </ul>
	</div>
	        <li><a href="">Registration</a></li>
	            <ul class="dropdown-menu-right">
	    <li><a href="/listunregisteredvehicles ">Add Registration</a></li>
	    <li><a href="/allvregistrations">List Registrations</a></li>
	   </ul>   <li><a href="">Insurance</a></li>
	            <ul class="dropdown-menu-right">
	    <li><a href="/uninsuredvehicles">Add Insurance</a></li>
	    <li><a href="/allinsurances">List Insurances</a></li>
	   </ul>
	            </ul>         
	                   
	           
	                    <li style="border-top:2px solid #fff;"><a href="">TRAVEL ORDER MANAGEMENT</a></li>
	            <ul class="dropdown-menu-right">
	    <li><a href="/addtravelorderview">Add Travel Order</a></li>
	    <li><a href="/alltravelorders">List Travel Orders</a></li>
	   
	  </ul>
	               
	             <li><a href="">Routes</a></li>
	            <ul class="dropdown-menu-right">
	    <li><a href="/addrouteview">Add Route</a></li>
	    <li><a href="/allroutes">List Routes</a></li>
	   </ul>    
	  
	             <li style="border-top:2px solid #fff;"><a href="">MAINTENANCE MANAGEMENT</a></li>
	             <li><a href="">Maintenance</a></li>
	            <ul class="dropdown-menu-right">
	    <li><a href="/choosevehicleformaintenance">Add Maintenance</a></li>
	    <li><a href="/allmaintenances">Maintenance History</a></li>
	   
	  </ul>
	  <li><a href="/addtravelorder">Service</a></li>
	            <ul class="dropdown-menu-right">
	    <li><a href="/addserviceview">Add Service</a></li>
	    <li><a href="/allservices">List Services</a></li>
	   
	  </ul>
	  
	  
	               <li ><a href="">Vendors</a></li>
	            <ul class="dropdown-menu-right">
	    <li><a href="/addvendor">Add Vendor</a></li>
	    <li><a href="/allvendors">List Vendors</a></li>
	   
	  </ul>
	           
	          </ul>
	        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 class="page-header">ABC FLEET MANAGEMENT</h2>
<div class="main">
		<div class="content">
    		<div class="section group">
				<div class="col span_2_of_3">
					<div style="width:200px" class="contact-form">
				  		<h1 class="redHeader">Update Vehicle</h1><br>
				  		
				  					<form id="form1" name="newVehicleForm" action="@routes.VehicleController.editVehicle(v.id)" method ="POST" enctype="multipart/form-data" novalidate >
								
									<h5 id="editProfileText">Vehicle ID *</h5>
									<input class="form-control" pattern=".{3,30}" required title="@Messages("one up to fifty character")" type="text" value="@v.vid" id="vid" name="vid" required/>
									
									<h5 id="editProfileText"Name *</h5>
									<input class="form-control" pattern=".{3,140}" required title="@Messages("one up to fifty characters")" type="text" value="@v.name" id="name" name="name" required/>
									
									<h5 id="editProfileText">Owner *</h5>
									<input class="form-control" pattern=".{3,140}" required title="@Messages("one up to fifty characters")" type="text" value="@v.owner.name" id="ownerName" name="ownerName" required/>
									
									<h5 id="editProfileText">Type *</h5>
									
												<select name="typeName" class="form-control" id="typeName">
													@if(v.typev.name != null){
	         <option select="selected" style="display:none" > @v.typev.name </option>	         	
	         }else{
	         <option value='@v.typev.name' style="display:none">Select Type</option>	         
	         }
													@for(typev <- Fleet.listOfTypes()) {
													<option>@typev.name</option>
													}
													<option>New Type</option>
												</select>

												<input style="display:none" id="newType" class="form-control" type="text" name="newType"
													class="dimension" placeholder="Type name">
							</br>
							
							<h5 id="editProfileText">Fleet *</h5>
							
								<select class="form-control" id="fleetName" name="fleetName">
								@if(Fleet.listOfFleets() == null) {
								<option value="">List of fleets is empty</option>
								}
								@if(v.fleet == null || v.fleet.name.isEmpty()) {
								<option value="" style="display:none">Select Fleet</option>
								@for(fleet <- Fleet.listOfFleets()) {
								<option value="@fleet.name">@fleet.name</option>
								}
								}
								@if(v.fleet != null) {
								<option select="selected" style="display:none">@v.fleet.name</option>
								@for(fleet <- Fleet.listOfFleets()) {
								<option value="@fleet.name">@fleet.name</option>
								}
								}
								</select>
								</br>
										
  								 <h5 id="editProfileText">Description *</h5>
												@for(d <- v.typev.description) {
												<label style="display:inline;float:left;width:200px">@d.propertyName</label>
												
												<input style="width:200px" id="imePropertija" name="@d.propertyName" class="form-control" placeholder="@d.propertyValue"/>
												</br>
												</br>
												}
												</form>  
												
							</div>
							
							</br>
							<div class="container">
								<div class="row">
       								 <div class="control-group" id="fields">
          								  <div class="controls" id="profs"> 
               								 <form id="form2" class="input-append" method="POST" action="@routes.VehicleController.addDescription(v.id)">
											
												<input type="hidden" id="count" name="counter"/>
                    						    <div id="field">
                    						    	<div>
			                   						    <input style="display:inline;width:300px" autocomplete="off" class="form-control" id="propertyName0" name="propertyName0" type="text" placeholder="New Property" data-items="8"/>
			                   						    <input style="display:inline;width:300px" autocomplete="off" class="form-control" id="propertyValue" name="propertyValue0" type="text" placeholder="New Property Value" data-items="8"/>
			                   						    <button style="display:inline" id="b1" class="btn add-more" type="button">+</button></br> 
		                   						    </div> 
                    						    </div>
                    						    <small>Press + to add another form field </small>
			                   						    
                 							</form>    
                 						<input class="btn btn-primary btn-odmak btn-fontNovi" type="button" value="Save" onclick="submitForms()"/>
							    
           	   							 </div>
             						 </div>
	       						</div>
         					</div>
       						</br>
      					</div>	
     					</br>
     					</br>
     				</div>			
    			</div> 
   			</div>
  		</div>
 	</div>
 	<script>
 
 		submitForms = function(){
 		    document.getElementById("form1").submit();
 		    document.getElementById("form2").submit();
 		}
 
 	</script>
 	<script>
 	$(document).ready(function(){
 	    var next = 1;
 	    $(".add-more").click(function(e){
 	        e.preventDefault();
 	        
 		    var innerHtml = '<div><input style="display:inline;width:300px" autocomplete="off" class="input form-control" id="propertyName' + next + '" name="propertyName' + next + '" type="text" placeholder="New Property" />&nbsp;';
 		   	innerHtml += '<input style="display:inline;width:300px" autocomplete="off" class="input form-control" id="propertyValue' + next + '" name="propertyValue' + next + '" type="text" placeholder="New Property Value" />&nbsp;';
 		   	innerHtml += '<button style="display:inline" id="remove' + (next - 1) + '" class="btn btn-danger remove-me" >-</button></br></div>';
 	        
 	        $('#field').append(innerHtml);
 
 	       $("#count").val(next);
 	        next++;
 	            $('.remove-me').click(function(e){
 	                e.preventDefault();
 	               $(e.target.parentElement).remove();
 	            });
 	    });   
 	});
 	</script>
</div>
}