@(sns: ServiceNotificationSettings)
@import helper._
@main("EDIT SERVICE NOTIFICATION SETTINGS") {
		
@_menuBars()
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="main">
        <h1 class="page-header">EDIT SERVICE NOTIFICATION SETTINGS</h1>
        <div class="content">
            <div class="section group">
                <div class="col span_2_of_3">
                    <div style="width:400px" class="contact-form">
                        <h1 class="redHeader">@Messages("")</h1>
                        <br>
                        <form name="newServiceForm" action="@routes.ServiceNotificationSettingsController.addServiceNotificationSettings()" method="POST" enctype="multipart/form-data">

                              <h5 id="editProfileText">Interval Type: </h5>
<select class="form-control" style="width:150px;"   id="intervalType" name="intervalType" >
                                @if(sns.intervalType=="time" || sns.intervalType=="Time"){
                                	      <option>Time</option>
                                	      <option>Meter</option>
                                }else{
                                 <option>Meter</option>
                                 <option>Time</option>
                                }
                            </select>
			<br>
                              <h5 id="editProfileText">Time Interval:*</h5>
                              @if(sns.intervalType=="time" || sns.intervalType=="Time"){
                             <input  type="number" step="1" min="0" style="width:100px; display:inline:block; float:left; margin-right:10px" value="@sns.intervalSize" id="timeInterval" name="timeInterval" class="form-control" value="0" required/>
                            <select class="form-control" style="width:150px; display:block; float:left;"  id="timeIntervalUnit" name="timeIntervalUnit" >
                                <option>@sns.intervalUnit</option>
                                @if(sns.intervalUnit!="Month(s)"){
                                <option>Month(s)</option>
                                }
                                @if(sns.intervalUnit!="Week(s)"){
                                 <option>Week(s)</option>
                                 }
                                @if(sns.intervalUnit!="Days(s)"){
                                   <option>Day(s)</option>
                                   }
                            </select>
                            
   							 }else{
   							 	 <input  type="number" step="1" min="0" style="width:100px; display:inline:block; float:left; margin-right:10px"  id="timeInterval" name="timeInterval" class="form-control"  required/>
                            <select class="form-control" style="width:150px; display:block; float:left;"  id="timeIntervalUnit" name="timeIntervalUnit" >
                                <option>Month(s)</option>
                               
                                <option>Week(s)</option>
                                 <option>Day(s)</option>
                                   
                            </select>
                            
   							 }
                                    <br></br></br>
                              <h5 id="meterIntervalEl">Meter Interval:*</h5>
                             @if(sns.intervalType=="meter" || sns.intervalType=="Meter"){
                             <input class="form-control" pattern=".{3,30}"  type="number" value="@sns.intervalSize" style="width:100px;  display:inline:block; float:left; margin-right:10px"  id="meterInterval" name="meterInterval" required/>
  							<select class="form-control" style="width:150px; display:block; float:left;"  id="meterIntervalUnit" name="meterIntervalUnit" >
                                @if(sns.intervalUnit=="Km" || sns.intervalUnit=="km"){
                                <option>Km</option>
                                 <option>Mi</option>
                                 }
                                 else{
                              <option>Mi</option>
                                 <option>Km</option>
                                 }
                           </select>
                           }else{
                           	<input class="form-control" pattern=".{3,30}"  type="number"  style="width:100px;  display:inline:block; float:left; margin-right:10px"  id="meterInterval" name="meterInterval" required/>
  							<select class="form-control" style="width:150px; display:block; float:left;"  id="meterIntervalUnit" name="meterIntervalUnit" >
                               
                                <option>Km</option>
                                 <option>Mi</option>
                                
                                    </select>
                           }
                                    </br>
                         </br><br>
                            <h5 id="editProfileText">Time Threshold:*</h5>
                            @if(sns.intervalType=="time" || sns.intervalType=="Time"){
                             <input  type="number" step="1" min="0" value="@sns.thresholdSize" style="width:100px; display:inline:block; float:left; margin-right:10px" id="timeThreshold" name="timeThreshold" class="form-control" value="0" required/>
                            <select class="form-control" style="width:150px; display:block; float:left;"  id="timeThresholdUnit" name="timeThresholdUnit" >
                                <option>@sns.thresholdUnit</option>
                                @if(sns.thresholdUnit!="Month(s)"){
                                <option>Month(s)</option>
                                }
                                @if(sns.thresholdUnit!="Week(s)"){
                                 <option>Week(s)</option>
                                 }
                                @if(sns.thresholdUnit!="Day(s)"){

                                   <option>Day(s)</option>
                                   }
                            </select>
                            }else{
                            	<input  type="number" step="1" min="0" value="" style="width:100px; display:inline:block; float:left; margin-right:10px" id="timeThreshold" name="timeThreshold" class="form-control" value="0" required/>
                            <select class="form-control" style="width:150px; display:block; float:left;"  id="timeThresholdUnit" name="timeThresholdUnit" >
                                <option>Month(s)</option>
                              
                                 <option>Week(s)</option>
                                
                                  <option>Day(s)</option>
                                   
                            </select>
                            }
                                </br></br><br>
                                     <h5 id="editProfileText">Meter Threshold:*</h5>
                                     @if(sns.intervalType=="meter" || sns.intervalType=="Meter"){
                            <input class="form-control" pattern=".{3,30}"  type="number" value="@sns.thresholdSize" style="width:100px; display:inline:block; float:left; margin-right:10px" id="meterThreshold" name="meterThreshold" required/>
                       <select class="form-control" style="width:150px; display:block; float:left;"  id="meterThresholdUnit" name="meterThresholdUnit" >
                              @if(sns.thresholdUnit=="Km"){
                                <option>Km</option>
                                 <option>Mi</option>
                              }else{
                              	<option>Mi</option>
                                 <option>Km</option>
                              }
                            </select>
                        }else{
                        	<input class="form-control" pattern=".{3,30}"  type="number" value="" style="width:100px; display:inline:block; float:left; margin-right:10px" id="meterThreshold" name="meterThreshold" required/>
                       <select class="form-control" style="width:150px; display:block; float:left;"  id="meterThresholdUnit" name="meterThresholdUnit" >
                             
                                <option>Km</option>
                                 <option>Mi</option>
                              
                                </select>
                        }
                                    <br>
                       <br><br>
                       <h4 id="editProfileText">SELECT SERVICE TASK(S):*</h4>
                       
                       @for(service <- Service.listOfServices()) { 
                                <br>
                                <div id="addServiceDiv">
                                <input type="checkbox" name="serviceID" value="@service.id" />@service.stype
                                </div>
                                 }
                                </br>
                                <textarea style="display:none" textarea id="serviceIDsArea" name="serviceIDsArea"></textarea>
                                </br>
                            <div>
                            <hr>
                                <br>
                                <input class="btn btn-primary btn-odmak btn-fontNovi" style="width:60px" type="submit" value="@Messages(" Save ")" />
                                <button type="button" class="btn btn-danger" style="width:60px" onclick="window.location.href='/'">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>							
function updateTextArea() {         
     var allVals = [];
     $('#addServiceDiv :checked').each(function() {
       allVals.push($(this).val());
     });
     $('#serviceIDsArea').val(allVals);
  }
 $(function() {
   $('#addServiceDiv input').click(updateTextArea);
   updateTextArea();
 });	
 </script>	
}


