@(message: String)
@import helper._
@main("FLEET MANAGEMENT MAIN PAGE") {
@_menuBars()
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

 <!--  @if(flash.get("success")){
      <br>
               <div id="mydiv" class="alert alert-dismissable alert-success">
                  <button type="submit" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                  @flash.get("success") 
               </div>
      }-->
 
@if(flash.get("NoVehiclesOrDrivers")){
<div class="alert alert-danger" role="alert">
   <div class="container">
      @flash.get("NoVehiclesOrDrivers")
   </div>
</div>
} 
@if(flash.get("listTOerror")){
<div class="alert alert-danger" role="alert">
   <div class="container">
      @flash.get("listTOerror")
   </div>
</div>
}
@if(flash.get("maintenanceNullError")){
<div class="alert alert-danger" role="alert">
   <div class="container">
      @flash.get("maintenanceNullError")
   </div>
</div>
} 
@if(flash.get("fleetEditError")){
<div class="alert alert-danger" role="alert">
   <div class="container">
      @flash.get("fleetEditError")
   </div>
</div>
} 
@if(flash.get("noTrailers")){
<div class="alert alert-danger" role="alert">
   <div class="container">
      @flash.get("noTrailers")
   </div>
</div>
} 
@if(flash.get("DriverIsNull")){
<div class="alert alert-danger" role="alert">
   <div class="container">
      @flash.get("DriverIsNull")
   </div>
</div>
} 
@if(flash.get("noTruckHead")){
<div class="alert alert-danger" role="alert">
   <div class="container">
      @flash.get("noTruckHead")
   </div>
</div>
} 
@if(flash.get("serviceDetailsError")){
<div class="alert alert-danger" role="alert">
   <div class="container">
      @flash.get("serviceDetailsError")
   </div>
</div>
} 
@if(flash.get("deletingServiceError")){
<div class="alert alert-danger" role="alert">
   <div class="container">
      @flash.get("deletingServiceError")
   </div>
</div>
} 
@if(flash.get("noLocomotives")){
<div class="alert alert-danger" role="alert">
   <div class="container">
      @flash.get("noLocomotives")
   </div>
</div>
} 
@if(flash.get("VehicleIsNull")){
<div class="alert alert-danger" role="alert">
   <div class="container">
      @flash.get("VehicleIsNull")
   </div>
</div>
} 
@if(flash.get("addVRegistrationError")){
<div class="alert alert-danger" role="alert">
   <div class="container">
      @flash.get("addVRegistrationError")
   </div>
</div>
}
<br>
<div class="row">
   <div class="col-lg-12">
      <h2>FLEETS OVERVIEW</h2>
      <div class="btn-group">
         <button id="updateStatusBtn" class="btn btn-default btn-sm dropdown-toggle" type="submit" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>
         Update Status <span class="caret"></span>
         </button>
         <ul class="dropdown-menu">
            <li>
               <p>for petlja</p>
            </li>
            <li>
               <p>sa statusima</p>
            </li>
         </ul>
      </div>
      <div class="btn-group">
         <form action="@routes.VehicleController.changeVehiclesType()" id="changeTypeForm" method="POST">
            <select id="indexSelect1" class="form-control" id="typeName" name="typeName" onchange="myFunction()" disabled>
               @if(Type.typesList() == null) {
               <option value="">List of types is empty</option>
               }
               <option value="" style="display:none">Change Type</option>
               @for(t <- Type.typesList()) {
               <option value="@t.name">@t.name</option>
               }   
            </select>
            <textarea style="display:none" id="taSignOff2" name="t2" readonly></textarea>
         </form>
         </ul>
      </div>
      <div class="btn-group">
         <form action="@routes.VehicleController.changeVehiclesFleet()" id="changeFleetForm" method="POST">
            <select id="indexSelect2" class="form-control" id="fleetName" name="fleetName" onchange="myFunction2()" disabled>
               @if(Fleet.listOfFleets() == null) {
               <option value="">List of fleets is empty</option>
               }
               <option value="" style="display:none">Change Fleet</option>
               @for(fleet <- Fleet.listOfFleets()) { 
               <option value="@fleet.name">@fleet.name</option>
               }   
            </select>
            <textarea style="display:none" id="taSignOff1" name="t1" readonly></textarea>
         </form>
      </div>
      <div class="btn-group">
         <form action="@routes.VehicleController.deleteVehicles()" method="POST">
            <button id="deleteBtn" class="btn btn-danger btn-sm dropdown-toggle" onclick="return confirm('Are you sure you want to do this action?');" type="submit" disabled>
            Delete  <i class="glyphicon glyphicon-trash"></i>
            </button> 
            <textarea style="display:none" id="delTextArea" name="t"></textarea> 
         </form>
      </div>
      <br>
      <br>
      <table class="table" id="myTable">
         <thead>
            <tr>
             <!--   <th><input type="checkbox" name="selectThemAll" id="selectall" /></th>--> 
             <th class="sorting"> <b class="caret"></b>
               </th>
               <th class="sorting">Vehicle ID <b class="caret"></b>
               </th>
               <th class="sorting">Type <b class="caret"></b>
               </th>
                <th class="sorting">Brand <b class="caret"></b>
               </th>
                <th class="sorting">Model <b class="caret"></b>
               </th>
              
               
               <th class="sorting">Fleet <b class="caret"></b>
               </th>
               <th>Details</th>
               <th>Edit</th>
            </tr>
         </thead>
         <tbody id="id">
            @for(vehicle <- Vehicle.listOfVehicles()) {
            <tr>
               <td><input type="checkbox" class="checkbox1" id="chk" name="vehicleID" value="@vehicle.id"></td>
               <td>@vehicle.vid</td>
               <td>@vehicle.typev.name</td>
               <td>@if(vehicle.vehicleBrand!=null){@vehicle.vehicleBrand.name
               }else{
               N/A
               }</td>
               @if(vehicle.vehicleModel!=null){
               <td>@vehicle.vehicleModel.name</td>
               }else{
               <td>N/A</td>
               }
            
               
               @if(vehicle.fleet == null || vehicle.fleet.name == "") {
               <td>Not in any fleet</td>
               } else {
               <td>@vehicle.fleet.name</td>
               }
               <td><a class="btn btn-info" data-toggle="modal" data-target="#myModal-@(vehicle.id)"><i class="glyphicon glyphicon-search"></i></a> </td>
               <td> <a href="@routes.VehicleController.editVehicleView(vehicle.id)" class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i></a>
               </td>
            </tr>
            <!-- Modal -->
            <div id="myModal-@(vehicle.id)" class="modal fade" role="dialog">
               <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="modal-title"> VEHICLE DETAILS</h2>
                     </div>
                     <div class="modal-body">
                        <label>
                           <h4> VEHICLE ID:  @vehicle.vid </h4>
                        </label>
                        </br>
                        
                        <label>
                           <h4> TYPE:  @vehicle.typev.name.toUpperCase() </h4>
                        </label>
                        </br>
                        
                        <label>
                           <h4> BRAND: @if(vehicle.vehicleBrand!=null){
                            @vehicle.vehicleBrand.name.toUpperCase()
                            }else{
                            N/A
                            } </h4>
                        </label>
                        </br>
                        
                        <label>
                           <h4> MODEL:  @if(vehicle.vehicleModel!=null){
                           @vehicle.vehicleModel.name.toUpperCase()
                           }else{
                           N/A
                           } </h4>
                        </label>
                        </br>
                        
                        <label>
                           <h4>FLEET: @if(vehicle.fleet != null) { @vehicle.fleet.name.toUpperCase()
                           	
                           }else{
                           N/A
                           } </h4>
                        </label>
                        </br>
                        
                        
                     <div class="modal-footer">
                        <a href="@routes.VehicleController.showVehicle(vehicle.id)" class="btn btn-primary">More <b class="glyphicon glyphicon-wrench"></b></a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                     </div>
                  </div>
               </div>
            </div>
            }
         </tbody>
      </table>
   </div>
</div>
<script>
jQuery("[name=selectThemAll]").click(function(source) { 
    checkboxes = jQuery("[name=vehicleID]");
    for(var i in checkboxes){
        checkboxes[i].checked = source.target.checked;
    }
});
</script>
<script>
$(document).ready(function(){ 
    $("#selecctall").change(function(){
      $(".checkbox1").prop('checked', $(this).prop("checked"));
      });
});
</script>
</script>
<script type="text/javascript">
   $(document).ready(function(){
       $('#myTable').DataTable();
   });
</script>
<script>
   var checkboxes = $("input[type='checkbox']"),
   submitButt = $("button[type='submit']");
   submitButt1 = $("select");
   
   checkboxes.click(function() {
   submitButt.attr("disabled", !checkboxes.is(":checked"));
   submitButt1.attr("disabled", !checkboxes.is(":checked"));
   
   });
</script>
<script>
   var elems = $('[id^="chk"]');
      elems.on('change', function() {
       $('#delTextArea').val(
           elems.filter(':checked').map(function() {
               return this.value;
           }).get().join(",")
       );
       $('#taSignOff1').val(
               elems.filter(':checked').map(function() {
                   return this.value;
               }).get().join(",")
           );
       $('#taSignOff2').val(
               elems.filter(':checked').map(function() {
                   return this.value;
               }).get().join(",")
           );
   });
</script>
<script>
   function myFunction() {
       document.getElementById("changeTypeForm").submit();
   }
</script>
<script>

function myFunction2() {
    document.getElementById("changeFleetForm").submit();
}
</script>

<!-- <script>
   $("#myTable #checkAll").click(function () {
       if ($("#myTable #checkAll").is(':checked')) {
           $("#myTable input[type=checkbox]").each(function () {
               $(this).prop("checked", true);
           });
   
       } else {
           $("#myTable input[type=checkbox]").each(function () {
               $(this).prop("checked", false);
           });
       }
   });
   </script> -->
}