@(allBrands: List[VehicleBrand])

@main("VEHICLE BRANDS") {
@_menuBars()
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">ALL VEHICLE BRANDS</h2>
            <a class="btn btn-info" data-toggle="tooltip" href="#addBrand"><i class="fa fa-plus-circle"></i>  Add New Brand</a>
            <br>
            <br>
            <table class="table" id="myTable">
                <thead>
                    <tr>
                        <th>Brand ID <b class="caret"></b>
                        </th>
                        <th>Name <b class="caret"></b>
                        </th>
                        <th>Vehicle Type <b class="caret"></b>
                        </th>
                        <th>Details</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    @for(br <- allBrands) { 
                    <tr>
                        <td>@br.id </td>
                        <td>@br.name </td>
                        <td>@br.typev.name </td>
                        
                        <td><a class="btn btn-info" data-toggle="modal" data-target="#myModal-@(br.id)"><b class="glyphicon glyphicon-search"></b></a></td>
                        <td><a href="@routes.BrandController.editBrandView(br.id)" class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i></a>
                        </td>
                    </tr>
                        <!-- Modal -->
                        <div id="myModal-@(br.id)" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h2>VEHICLE BRAND DETAILS</h2><hr/>
                                        
                                    </div>
                                    <div class="modal-body">
                                        <label>
                                            <h4>  ID:  @br.id.toString().toUpperCase() </h4>
                                        </label>
                                        </br>
                                        <label>
                                            <h4>  NAME:  @if(br.name!=null){ @br.name.toUpperCase()
                                            	
                                            }else{
                                            N/A
                                            } </h4>
                                        </label>
                                        </br>
                                        
                                        </br>
                                        
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                         <button type="button" class="btn btn-info" onclick="window.location.href='/showbrand/@br.id'">More <i class="glyphicon glyphicon-wrench"></i>
                                        
                                    </div>
                                </div>
                            </div>
                        </div> 
                     }
            </table>
            <form id="form6" action="@routes.BrandController.addBrand()" method="POST">
                        <!-- Modal -->
                        <div id="addBrand" class="modalDialog">
                           <div style="height:60% !important">	<a href="#close" title="Close" class="close">X</a>
                                <h2 class="redHeader">ADD NEW BRAND</h2><hr>
                               <label>Vehicle Type:</label>
                            @if(Type.typesList().size>0){
                            <select class="form-control" id="typeName" name="typeName" required>
                                <option value=""></option>
                                @for(t <- Type.typesList()) { 
                                <option value="@t.name">@t.name </option>
                                    }
                            </select>
                            }
                               
                                <h4 id="editProfileText">Name *</h4>
                                <input id="name" class="form-control" type="text" name="name" class="dimension" placeholder="Name" required>
                              </br>
                              
                                <input class="btn btn-primary btn-odmak btn-fontNovi" style="width:50px" type="submit" value="@Messages(" Add ")" />
                           </div>
                        </div>
                     </form>
        </div>
    </div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$('#myTable').DataTable();
	});
</script>
<script type="text/javascript">
	$(document).ready(function() {
		$('#myTable').searchable({
			striped : true,
			oddRow : {
				'background-color' : '#f5f5f5'
			},
			evenRow : {
				'background-color' : '#fff'
			},
			searchType : 'fuzzy'
		});
	});
</script>				 
}
