
@(mns: List[Maintenance])

@main("All Maintenances") {
@_menuBars()
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">ALL MAINTENANCES</h1> 
                 @if(mns.size()==0){
         <h4>	NO RECORDS!</h4>
         }
                    <a class="btn btn-success" style="position:relative;left:90%" href="/addmaintenanceview"><i class="fa fa-plus-circle"></i>  Add New </a>
           
            <table class="table" id="myTable">
                <thead>
                    <tr>
                        <th>Maintenance ID <b class="caret"></b>
                        </th>
                        <th>Vehicle ID <b class="caret"></b>
                        </th>
                        <th>Odometer <b class="caret"></b> </th>
                        <th>Date <b class="caret"></b>
                        </th>
                        <th>Details <b class="caret"></b>
                          <th>Edit <b class="caret"></b>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for(mn <- mns) { 
                    <tr>
                       
                            <td>@mn.id </td>
                            @if(mn.vehicle!=null){
                            <td>@mn.vehicle.vid</td>
                            }
                            <td>@mn.odometer</td>
                            <td>@mn.mDate</td>
                            <td><a class="btn btn-info" data-toggle="modal" data-target="#myModal-@(mn.id)">Info</a>
                            </td>
                            <td><a href="@routes.MaintenanceController.editMaintenanceView(mn.id)" class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i></a>
                        </td>
                            <!-- Modal -->
                            <div id="myModal-@(mn.id)" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h2 class="modal-title"> MAINTENANCE DETAILS</h2>
                                        </div>
                                        <div class="modal-body">
                                            <label>
                                                <h4> MAINTENANCE ID:  @mn.id </h4>
                                            </label>
                                            </br>
                                            <label>
                                                <h4> VEHICLE ID: @if(mn.vehicle!=null){ 
                                                	@mn.vehicle.id
                                                	} </h4>
                                            </label>
                                            </br>
                                            
                                            </br>
                                            <label>
                                                <h4> DATE:    @mn.mDate  </h4>
                                            </label>
                                            </br></br>
                                          
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-info" onclick="window.location.href='/showmaintenance/@mn.id'">More <i class="glyphicon glyphicon-wrench"></i>
                           </button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            }
                </tbody>
            </table>
        </div>
    </div>
</div>
    <script type="text/javascript">
    $(document).ready(function(){
        $('#myTable').DataTable();
    });
    </script>

}

