@(allEmps: List[Employee])
@import helper._
@main("ALL EMPLOYEES") {
@_menuBars()
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
   <div class="row">
      <div class="col-lg-12">
         <h1 class="page-header">ALL EMPLOYEES</h1>
         @if(allEmps.size()==0){
         <h4>	No Database records!</h4>
         }
         <a class="btn btn-info" href="/addemployeeview"><i class="fa fa-plus-circle"></i>  Add New Employee</a>
         <br>
         <br>
         <table class="table table-striped">
            <tr>
               <th>First Name <b class="caret"></b>
               </th>
               <th>Last Name <b class="caret"></b>
               </th>
               
              
               <th>Address <b class="caret"></b>
               </th>
               <th>Email <b class="caret"></b>
               </th>
               <th>Driver <b class="caret"></b>
               </th>
               <th>Details</th>
               <th>Edit</th>
            </tr>
            @for(emp <- allEmps) { 
            <tr>
               <td>@emp.firstName </td>
               <td>@emp.lastName</td>
               
               
               <td>@emp.address </td>
               <td>@emp.email </td>
               @if(emp.isDriver==true){
               	 <td>Yes </td>
               	               } else{
               	             <td>No </td>
               	               }
               <td><a class="btn btn-info" data-toggle="modal" data-target="#myModal-@(emp.id)"><b class="glyphicon glyphicon-search"></b></a>
               </td>
               <td><a href="@routes.EmployeeController.editEmployeeView(emp.id)" class="btn btn-default"><b class="glyphicon glyphicon-pencil"></b></a>
               </td>
            </tr>
            <!-- Modal -->
            <div id="myModal-@(emp.id)" class="modal fade" role="dialog">
               <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"> EMPLOYEE DETAILS</h4>
                     </div>
                     <div class="modal-body">
                        <label> FIRST NAME: </label> @emp.firstName.toUpperCase() </br>
                        <label> LAST NAME: </label> @emp.lastName.toUpperCase() </br>
                        <label> PHONE NUMBER: </label> @if(emp.phone!=null){
                        	@emp.phone
                        	}else{
                        		N/A
                        	} </br>
                        <label> ADDRESS: </label> @if(emp.address!=null){
                        	@emp.address.toUpperCase()
                        	}else{
                        		N/A
                        	}</br>
                        <label> DATE OF BIRTH: </label> @emp.dob</br>
                        <label> EMAIL: </label>@if(emp.email!=null){ 
                        	@emp.email
                        	}else{
                        		N/A
                        	} </br>
                   <label> DRIVER: </label> @if(emp.isDriver==true){
                   	YES
                   }else{
                   NO
                   } </br>
                        
                     </div>
                     <div class="modal-footer">
                                <button type="button" class="btn btn-info" onclick="window.location.href='/showemployee/@emp.id'">More <i class="glyphicon glyphicon-wrench"></i>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        
                     </div>
                  </div>
               </div>
            </div>
            }
         </table>
      </div>
   </div>
</div>
}