@(uVehicles: List[Vehicle])

@main("Our Fleet") {
<div class="wrap">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Warehouses</title>
	<script src="tsorter.min.js" type="text/javascript"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"> </script>
	
    <link href="file:///home/nera/Desktop/PROJEKTI/TIMIS/Warehouse(frontend)/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="file:///home/nera/Desktop/PROJEKTI/TIMIS/Warehouse(frontend)/bootstrap-3.3.5-dist/css/dashboard.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <ul class="nav navbar-nav navbar-left">
          <li><a class="navbar-brand" href="/">Home</a></li>
          <li><a class="navbar-brand" href="">Organizations</a></li>
          <li><a class="navbar-brand" href="">Staff</a></li>
          <li><a class="navbar-brand" href="">Volunters</a></li>
          <li><a class="navbar-brand" href="">Projects</a></li>
          <li><a class="navbar-brand" href="">Warehouses</a></li>
          <li><a class="navbar-brand" href="">Assets</a></li>
          <li><a class="navbar-brand" href="">Surveys</a></li>
          <li><a class="navbar-brand" href="">Map</a></li>    
          <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="">More<b class="caret"></b></a>
            <ul class="dropdown-menu" id="menu1">
             <li><a href="#">Content Management</a></li>
             <li><a href="#">Documents</a></li>
             <li class="divider"></li>
             <li><a href="#">Vehicles</a></li>
             <li><a href="#">Requests</a></li>
             <li class="divider"></li>
             <li><a href="#">Shelters</a></li>
             <li><a href="#">Hospitals</a></li>
             <li class="divider"></li>
             <li><a href="#">Disaster Victim Registry</a></li>
             <li><a href="#">Events</a></li>
             <li class="divider"></li>
             <li><a href="#">Transport</a></li>
             <li><a href="#">Members</a></li>
             <li class="divider"></li>
             <li><a href="#">Budgeting Module</a></li>
             </ul>
          </li>
          </ul>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
             <li class="dropdown"><a data-toggle="dropdown"
							class="dropdown-toggle" href="">Logout<b class="caret"></b></a>
							<ul class="dropdown-menu" id="menu1">
								<li><a href="/logout">Logout</a></li>
								<li><a href="/changePass">Change Password</a></li>
								<li class="divider"></li>
								<li><a
									href="@routes.AdminController.controlPanel(Sesija.getCurrentAdmin(ctx()).id)">Admin
										Panel</a></li>
							</ul></li>
            <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="">Language<b class="caret"></b></a>
                 <ul class="dropdown-menu" id="menu1">
                  <li><a href="#">Bosanski</a></li>
                  <li><a href="#">English</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Arabian</a></li>
                  <li><a href="#">Turkce</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Deutch</a></li>
                  <li><a href="#">Italian</a></li>
                  <li class="divider"></li>
                  <li><a href="#">France</a></li>
                  <li><a href="#">Espanol</a></li>
                  <li class="divider"></li>
                 </ul>
            </li>
            <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="">Help<b class="caret"></b></a>
                 <ul class="dropdown-menu" id="menu1">
                  <li><a href="#">Contact us</a></li>
                  <li><a href="#">About</a></li>
                 </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

   <div class="container-fluid">
	      <div class="row">
	        <div class="col-sm-3 col-md-2 sidebar">
	          <ul style="background:#DBDBDB" class="nav nav-sidebar">
	            <li class="heading active" style="border-bottom:1px solid #fff;"><a href="file:///home/global-gps/Desktop/wh/Warehouses.html">DASHBOARD<span class="sr-only">(current)</span></a></li>
	           <li style="border-top:2px solid #fff;"><a href="">FLEET MANAGEMENT</a></li>
	            <ul>
	            <p><a href="/addFleet">Add Fleet</a></p>
	            <p><a href="/allFleets">List Fleets</a></p>
	            </ul> 
	            <li style="border-top:2px solid #fff;"><a href="">VEHICLE MANAGEMENT</a></li>
	            <ul>
	<div class="dropdown">
	  <ul class="dropdown-menu-right">
	    <li><a href="/addVehicle">Add Vehicle</a></li>
	    <li><a href="/allVehicles">List Vehicles</a></li>
	   
	  </ul>
	</div>
	        <li><a href="">Registration</a></li>
	            <ul class="dropdown-menu-right">
	    <li><a href="/listunregisteredvehicles ">Add Registration</a></li>
	    <li><a href="/allvregistrations">List Registrations</a></li>
	   </ul>   <li><a href="">Insurance</a></li>
	            <ul class="dropdown-menu-right">
	    <li><a href="/uninsuredvehicles">Add Insurance</a></li>
	    <li><a href="/allinsurances">List Insurances</a></li>
	   </ul>
	            </ul>         
	                   
	           
	                    <li style="border-top:2px solid #fff;"><a href="">TRAVEL ORDER MANAGEMENT</a></li>
	            <ul class="dropdown-menu-right">
	    <li><a href="/addtravelorderview">Add Travel Order</a></li>
	    <li><a href="/alltravelorders">List Travel Orders</a></li>
	   
	  </ul>
	               
	            <li style="border-top:2px solid #fff;"><a href="">WORK ORDER MANAGEMENT</a></li>
	            <ul class="dropdown-menu-right">
	    <li><a href="/addworkorderview">Add Work Order</a></li>
	    <li><a href="/allworkorders">List Work Orders</a></li>
	   
	  </ul>
	  
	             <li style="border-top:2px solid #fff;"><a href="">MAINTENANCE MANAGEMENT</a></li>
	             <li><a href="">Maintenance</a></li>
	            <ul class="dropdown-menu-right">
	    <li><a href="/choosevehicleformaintenance">Add Maintenance</a></li>
	    <li><a href="/allmaintenances">Maintenance History</a></li>
	   
	  </ul>
	  <li><a href="/addtravelorder">Service</a></li>
	            <ul class="dropdown-menu-right">
	    <li><a href="/addserviceview">Add Service</a></li>
	    <li><a href="/allservices">List Services</a></li>
	   
	  </ul>
	  
	  
	               <li ><a href="">Vendors</a></li>
	            <ul class="dropdown-menu-right">
	    <li><a href="/addvendor">Add Vendor</a></li>
	    <li><a href="/allvendors">List Vendors</a></li>
	   
	  </ul>
	           
	          </ul>
	        </div>
       <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          @if(flash.get("NoUnregisteredVehicles")){
         <div class="alert alert-danger" role="alert">
            <div class="container">
               @flash.get("NoUnregisteredVehicles")
            </div>
            
         </div>
         }
         <h2>UNREGISTERED VEHICLES</h2>
         <p><b>CHOOSE VEHICLE TO REGISTER:</b></p><br><br>
<body>
@if(uVehicles.size() == 0 ) {
	<h2>No unregistered vehicles in fleet</h2>
}
<div class="row">
        <div class="col-lg-12">
            <table class="table" id="myTable">
                <thead>
                    <tr>
                 	
                    <th>Vehicle ID <b class="caret"></th>
                    <th>Owner <b class="caret"></th>
                    <th>Name <b class="caret"></th>
                    <th>Type <b class="caret"></th>
                    <th>Description <b class="caret"></th>
                    <th>Fleet <b class="caret"></th>
                    <th>Details</th>
                    <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    @for(vehicle <- uVehicles) {
                  <tr>
                  
                  <td>@vehicle.vid</td>
                    <td>@vehicle.owner.name </td>
                    <td>@vehicle.name </td>
                    
                    <td>@vehicle.typev.name</td>
                    <td>@vehicle.typev.description</td>
                    @if(vehicle.fleet==null){
                    <td>N/A</td>}
                   @if(vehicle.fleet!=null){
                   	  <td>@vehicle.fleet.name</td>
                   	
                   }
                    <td><a class="btn btn-info" data-toggle="modal" data-target="#myModal-@(vehicle.id)">Info</a></td>
            <td> <a href="@routes.VehicleController.editVehicleView(vehicle.id)" class="btn btn-default" >@Messages("edit")</a></td>
                     </tr>
                     
                      <!-- Modal -->
<div id="myModal-@(vehicle.id)" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> @vehicle.typev.name details</h4>
      </div>
      <div class="modal-body">
      <label><h4> Vehicle ID</label>  @vehicle.vid </h4></br>
         <label><h4> Owner</label> Name:  @vehicle.owner.name </br>
         						   Email: @vehicle.owner.email</h4></br>
            <label><h4> Type</label>   @vehicle.typev.name </h4></br>
            @if(vehicle.fleet != null) {
            <label><h4> Fleet</label>   @vehicle.fleet.name </h4></br>
           }
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
                  }
</tbody>
            </table>
            <hr>
        </div>
    </div>

				 
		<script type="text/javascript">
    $(document).ready(function(){
        $('#myTable').DataTable();
    });
         </script>		 	
				 

</body>
    
    </div>

}