@(allFuelBills: List[FuelBill])
@import helper._
@main("All FuelBills") {
<div class="wrap">
    @_menuBars()
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">ALL FUEL BILLS</h2>
                <a class="btn btn-info" href="/addFuelBillView"><i class="fa fa-plus-circle"></i>  Add New </a>
           		<br>
            	<br>
                <table class="table" id="myTable">
                    <thead>
                        <tr>
                           <th class="sorting">Fuel Bill ID <b class="caret"></b>
                        
                            <th class="sorting">Vehicle ID <b class="caret"></b>
                            </th>
                            <th class="sorting">Driver <b class="caret"></b>
                            </th>
                            <th class="sorting">Price <b class="caret"></b>
                            </th>
                             <th class="sorting">Amount <b class="caret"></b>
                            </th>
                            <th class="sorting">Date <b class="caret"></b>
                            </th>
                            <th>Details</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(fb <- allFuelBills) { 
                        <tr>
                            <td>@fb.id</td>
                        
                            <td>@fb.vehicle.vid</td>
                            <td>@fb.driver.driverName</td>
                            <td>@fb.fuelPrice</td>
                            <td>@fb.fuelAmount</td>
                            <td>@fb.billDate</td>
                           <!--   <td><a class="btn btn-info" data-toggle="modal" data-target="#myModal-@(fb.id)"><b class="glyphicon glyphicon-search"></b></a>
                            </td>-->
                            <td><a href="@routes.FuelBillController.showFuelBill(fb.id)" class="btn btn-info" ><b class="glyphicon glyphicon-search"></b></a>
                            </td>
                            <td> <a href="@routes.FuelBillController.editFuelBillView(fb.id)" class="btn btn-default"><b class="glyphicon glyphicon-pencil"></b></a>
                            </td>
                       </tr>
                            <!-- Modal -->
                            <div id="myModal-@(fb.id)" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title"> @fb.id details</h4>
                                        </div>
                                        <div class="modal-body">
                                            <label>
                                                <h4> Vendor Name  @fb.vendor.name </h4>
                                            </label>
                                            </br>
                                            <label>
                                                <h4> vehicle ID  @fb.vehicle.id </h4>
                                            </label>
                                            </br>
                                            <label>
                                                <h4> Driver   @fb.driver.driverName </h4>
                                            </label>
                                            </br>
                                            <label>
                                                <h4> Date of FuelBill   @fb.billDate </h4>
                                            </label>
                                            </br>
                                            <label>
                                                <h4> Fuel Amount   @fb.fuelAmount</h4>
                                            </label>
                                            </br>
                                            <label>
                                                <h4> Fuel Price   @fb.fuelPrice </h4>
                                            </label>
                                            </br>
                                            <label>
                                                <h4> Total Distance   @fb.totalDistance </h4>
                                            </label>
                                            </br>
                                            <label>
                                                <h4> Total Distance(GPS)   @fb.totalDistanceGps </h4>
                                            </label>
                                            </br>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
                     
<script type="text/javascript">
    $(document).ready(function(){
        $('#myTable').DataTable();
    });
</script>
<script type="text/javascript">
$(document).ready(function () {
    $('#myTable').searchable({
        striped: true,
        oddRow: { 'background-color': '#f5f5f5' },
        evenRow: { 'background-color': '#fff' },
        searchType: 'fuzzy'
    });
});
</script>
}