@(srv: Service)
@import helper._
@main("SERVICE DETAILS"){
@_menuBars()
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
   <div class="main">
   <h1 class="page-header">SERVICE DETAILS</h1>
    <a class="btn btn-success" style="position:relative;left:1025px" href="/addserviceview"><i class="fa fa-plus-circle"></i>  Add New </a>
      <p class="blueText">
      <h4>SERVICE ID: @srv.id</h4>
      </p>
      <p class="blueText">
      <h4>SERVICE TYPE: @srv.stype.toUpperCase()</h4>
      </p>
      <p class="blueText">
      <h4> DESCRIPTION: @if(srv.description!=null){
      	@srv.description.toUpperCase()
      	}else{
      	N/A
      	}</h4>
      </p>
      <br>
      <hr>
      <button type="button" class="btn btn-info" style="width:60px" onclick="window.location.href='/allservices'">Back</button>
      <button type="button" class="btn btn-warning" style="width:60px"  onclick="window.location.href='/editserviceview/@srv.id'">Edit</button>
<a href="@routes.ServiceController.deleteService(srv.id)" style="width:60px" onclick="return confirm('Are you sure you want to delete this ?');" class="btn btn-danger" ><i class="glyphicon glyphicon-trash"></i></a>   </div>
</div>
}
