@(pc: PartCategory)
@import helper._
@main("PART CATEGORY DETAILS"){
@_menuBars()
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
   <div class="main">
      <h1 class="page-header">PART CATEGORY DETAILS</h1>
      <p class="blueText">
      <h4>PART CATEGORY ID:@pc.id</h4>
      </p>
      <p class="blueText">
      <h4>NAME:@pc.name.toUpperCase()</h4>
      </p>
      <p class="blueText">
      <h4>DESCRIPTION:@pc.description</h4>
      </p><hr><br>
              <button type="button" class="btn btn-warning"  onclick="window.location.href='/allPartCategories'">Back  <b ></b></button>
      
      <button type="button" class="btn btn-info"  onclick="window.location.href='/editPartCategoryView/@pc.id'">Edit  <b class="glyphicon glyphicon-pencil"></b></button>
        <a href="@routes.PartCategoryController.deletePartCategory(pc.id)" class="btn btn-danger" onclick="return confirm('Are you sure?');">Delete</a>
  
   </div>
</div>

}
