@(driver: Driver)
@import helper._
@main("Driver Panel") {
@_menuBars()
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
   <div ng-app="formApp" ng-controller="formController">
      <div id="someId" class="container">
         <div class="features_items">
  		 <h2 class="page-header"><span style="margin-left:230px">Driver Profile</span></h2>
            <!--features_items-->
            <div class="right-box">
               <ul>
                  <li>@Messages("name"): @driver.firstName</li>
                  <li>@Messages("surname"): @driver.lastName</li>
                  <li>Phone Number: @driver.phoneNumber</li>
                  <li>@Messages("address"): @driver.adress</li>
                  <li>Description: @driver.description</li>
                  <li>Date of birth: @driver.dob</li>
               </ul>
               <br><br>
      <button type="button" class="btn btn-info"  onclick="window.location.href='/editDriverView/@driver.id'">Edit</button>
                     <button type="button" class="btn btn-danger"  onclick="window.location.href='/deleteDriver/@driver.id'">Remove</button>
      
               
            </div>
         </div>
      </div>
   </div>
</div>
}
