@(f: Fleet)
@import helper._
@main("showFleet"){
@_menuBars()
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
   <div class="main">
   <h1 class="page-header">FLEET DETAILS</h1>
      <p class="blueText">
      <h4>FLEET NAME: @f.name.toUpperCase()</h4>
      </p>
      <p class="blueText">
      <h4>NUMBER OF VEHICLES: @f.numOfVehicles</h4>
      </p>
      <p class="blueText">
      <h4>Departure Date: @f.departure</h4>
      </p>
      <p class="blueText">
      <h4>Arrival Date: @f.arrival</h4>
      </p>
      <p class="blueText">
      <h4>Pickup Place: @f.pickupPlace.toUpperCase()</h4>
      </p>
      <p class="blueText">
      <h4>Return Place: @f.returnPlace.toUpperCase()</h4>
      </p><hr>
      <p class="blueText">
     <h3>VEHICLES IN THIS FLEET: </h3>
      </p>
      <div class="row">
         <div class="col-lg-12">
            <table class="table" id="myTable">
               <thead>
                  <tr>
                     <th class="sorting">Vehicle ID  <b class="caret"></b></th>
                     <th class="sorting">Name  <b class="caret"></b></th>
                     <th class="sorting">Owner  <b class="caret"></b></th>
                     <th class="sorting">Type  <b class="caret"></b></th>
                     <th class="sorting">Fleet  <b class="caret"></b></th>
                     <th class="sorting">Created  <b class="caret"></b></th>
                     <th>Edit</th>
                  </tr>
               </thead>
               <tbody>
                  @for(vehicle <- f.vehicles) {
                  <tr>
                     <td>@vehicle.vid</td>
                     <td>@vehicle.name</td>
                     <td>@vehicle.owner.name</td>
                     <td>@vehicle.typev.name</td>
                     <td>@vehicle.fleet.name</td>
                     <td>@vehicle.fleet.createdd</td>
                     <td>
                        <form action="/showVehicle/@vehicle.id">
                           <button type="button" class="btn btn-info" onclick="window.location.href='/showVehicle/@vehicle.id'">Info</button>
                        </form>
                     </td>
                     <td> <a href="@routes.VehicleController.editVehicleView(vehicle.id)" class="btn btn-default" >@Messages("edit")</a></td>
                  </tr>
                  }
               </tbody>
            </table>
         </div>
      </div>
      <br><br>
       <button type="button" class="btn btn-info"  style="width:60px" onclick="window.location.href='/allFleets'">Back</button>
        <button type="button" class="btn btn-warning" style="width:60px" onclick="window.location.href='/editFleetView/@f.id'">Edit</button>
  <a href="@routes.FleetController.deleteFleet(f.id)" style="width:60px" style="width:60px" onclick="return confirm('Are you sure?');" class="btn btn-danger" ><i class="glyphicon glyphicon-trash"></i></a> 
   </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('#myTable').DataTable();
    });
</script>
<script type="text/javascript">
$(document).ready(function () {
    $('#myTable').searchable({
        striped: true,
        oddRow: { 'background-color': '#f5f5f5' },
        evenRow: { 'background-color': '#fff' },
        searchType: 'fuzzy'
    });
});
</script>
}
