@(wo: WorkOrder)
@import helper._
@main("showTravelOrder"){
	@_menuBars()
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 class="page-header">WORK ORDER DETAILS</h2>
	<div class="main">
	<ul>
	<li><b>WORK ORDER NUMBER: @wo.woNumber</b></li>
	<LI><b>DATE: @wo.createdd</b></li>
		<li><b>DRIVER: @wo.driver.driverName</b></li>
	<li><b>CLIENT: @wo.client.cName</b></li>
	<li><b>VEHICLE: @wo.vehicle.name</b></li>
	<li><b>DESCRIPTION: @wo.description</b></li>
	<li><b>STATUS: @wo.statusWo</b></li>
		</ul></div>
		<div style="position: relative;
    left: 50px;">
		<button type="button" class="btn btn-info"  onclick="window.location.href='/deleteworkrder/@wo.id'">Remove</button>
		</div>
</div>
}

