@(vb: VehicleBrand)
@import helper._
@main("VEHICLE BRAND DETAILS"){
@_menuBars()
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
   <div class="right-box">
   
      <h2 class="page-header">VEHICLE BRAND DETAILS</h2>
      <p class="blueText">
      <h4>ID: @vb.id</h4>
      </p>
      <p class="blueText">
      <h4>NAME: @vb.name</h4>
      </p>
      <p class="blueText">
      <h4>VEHICLE TYPE: @vb.typev.name</h4>
      </p>
      
      <br>
      <button type="button" class="btn btn-danger"  onclick="window.location.href='/deletebrand/@vb.id'">Remove</button>
      <button type="button" class="btn btn-warning"  onclick="window.location.href='/editbrandview/@vb.id'">Edit</button>
   </div>
</div>
}
