@(cl: Client)
@import helper._
@main("show Client"){
	@_menuBars()
	<p class="blueText"><h2>Name:@cl.cName</h2></p>
	<p class="blueText"><h2>Type:@cl.cType</h2></p>
		<p class="blueText"><h2>Address:@cl.address</h2></p>
		<p class="blueText"><h2>Phone:@cl.phone</h2></p>
		<p class="blueText"><h2>Email:@cl.email</h2></p>

		</div>
		<div style="position: relative;
    left: 50px;">
		<button type="button" class="btn btn-danger"  onclick="window.location.href='/removeclient/@cl.id'">Remove</button>
		<button type="button" class="btn btn-warning"  onclick="window.location.href='/editclientview/@cl.id'">Edit</button>
		</div>
		
		
		
</div>
}
