@(v: Vehicle)
@import helper._
@main("showVehicle"){
	@_menuBars()
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        @if(flash.get("vehicleRegistered")){
         <div class="alert alert-danger" role="alert">
            <div class="container">
               @flash.get("vehicleRegistered")
            </div>
            
         </div>
         }
         
          <h2 class="page-header">VEHICLE DETAILS</h2>
	<div class="main">

	@if(v.typev.name=="Trailer" || v.typev.name=="Truck" ){
	@if(v.isLinked==true ){
    		<button type="button" class="btn btn-info"  onclick="window.location.href='/showtruckcomposition/@v.truckComposition.id'">Show Composition</button>
    		}
    		}
    		
    		@if(v.typev.name=="Train" || v.typev.name=="Wagon" ){
	@if(v.isLinked==true ){
    		<button type="button" class="btn btn-info"  onclick="window.location.href='/showtraincomposition/@v.trainComposition.id'">Show Composition</button>
    		}
    		
    		}
    		
    		@if(v.typev.name=="Trailer"){
		@if(v.isLinked==true){
			
	<a href="@routes.TruckCompositionController.getPrevVehicle(v.id)" class="btn btn-info" >Previous Vehicle</a>
	}
		}
		
		@if(v.typev.name=="Wagon"){
		@if(v.isLinked==true){
			
	<a href="@routes.TrainCompositionController.getPrevVehicle(v.id)" class="btn btn-info" >Previous Vehicle</a>
	}
		}
		
    		@if(v.typev.name=="Trailer"){
		@if(v.isLinked==true){
			@if(v.truckComposition.truckVehicles.indexOf(v)<(v.truckComposition.truckVehicles.size()-1)){
	<a href="@routes.TruckCompositionController.getNextVehicle(v.id)" class="btn btn-info" >Next Vehicle</a>
	}
	}
	
	}
	@if(v.typev.name=="Wagon"){
		@if(v.isLinked==true){
			@if(v.trainComposition.trainVehicles.indexOf(v)<(v.trainComposition.trainVehicles.size()-1)){
	<a href="@routes.TrainCompositionController.getNextVehicle(v.id)" class="btn btn-info" >Next Vehicle</a>
	}
		}
		
		}
		@if(v.typev.name=="Truck"){
		@if(v.isLinked==true){
			
	<a href="@routes.TruckCompositionController.getNextVehicle(v.id)" class="btn btn-info" >Next Vehicle</a>
			}
			
			}
			
			@if(v.typev.name=="Train"){
		@if(v.isLinked==true){
			
	<a href="@routes.TrainCompositionController.getNextVehicle(v.id)" class="btn btn-info" >Next Vehicle</a>
			}
			
			}
	<p class="blueText"><h2>Vehicle ID: @v.vid</h2></p>
	<p class="blueText"><h2>Vehicle Owner: @v.owner.name</h2></p>
	<p class="blueText"><h2>Type: @v.typev.name</h2></p>
	@if(v.isLinked==true){
	<p class="blueText"><h2>Position: @v.getPosition(v.id)</h2></p>
	}
	<p class="blueText"><h2>Description: </h2></p>
	@for(d <- v.description) {
		<p class="blueText"><h2>@d.propertyName @d.propertyValue </h2></p>
		}
		
	
			
    		<br><br>
	
	
	@if((v.typev.name=="Trailer" ||  v.typev.name=="trailer") && v.isLinkable==true && v.isLinked==false){
	<p class="blueText"><h4>Position: Not Attached</h4></p>
		}
		
@if(v.typev.name=="Truck" || v.typev.name=="truck" ){
    		<button type="button" class="btn btn-info"  onclick="window.location.href='/createcompositionandattachtrailerview/@v.id'">Attach trailer</button>
    		}
    		
    		@if(v.typev.name=="Train" || v.typev.name=="train" ){
    		<button type="button" class="btn btn-info"  onclick="window.location.href='/createcompositionandattachwagonview/@v.id'">Attach wagon</button>
    		}
    		
    @if(v.isRegistered==false){
    		<button type="button" class="btn btn-info"  onclick="window.location.href='/addvregistrationview/@v.id'">Add registration</button>
    		}
    @if(v.isInsured==false){
    		<button type="button" class="btn btn-info"  onclick="window.location.href='/addinsuranceview/@v.id'">Add insurance</button>
    		}
		 <a href="@routes.VehicleController.editVehicleView(v.id)" class="btn btn-info" >Edit vehicle</a>
		 @if(v.isAsigned==false){
		 <a href="@routes.VehicleController.addToFleetView(v.id)" class="btn btn-info" >Add to fleet</a>}
		 @if(v.isAsigned==true){
		 		 <a href="@routes.VehicleController.removeFromFleet(v.id)" class="btn btn-info" >Remove from fleet</a>}
		 
		 <button type="button" class="btn btn-info"  onclick="window.location.href='/addmaintenanceview/@v.id'">Add maintenance</button>
		 
		<td> <a href="@routes.VehicleController.deleteVehicle(v.id)" onclick="return confirm('Are you sure you want to delete this vehicle?');" class="btn btn-danger" >Delete</a></td>
		
		</div>
</div>
}
