@(to: TravelOrder)
@import helper._
@main("showTravelOrder"){
@_menuBars()
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
   <div class="main">
   <h1 class="page-header">TRAVEL ORDER DETAILS</h1>
      <ul>
         <li><b>TRAVEL ORDER NUMBER: @to.numberTO</b></li>
         <li><b>TRAVEL ORDER NAME: @to.name.toUpperCase()</b></li>
         <li><b>REASON: @to.reason.toUpperCase()</b></li>
         <LI><b>DESTINATION: @to.destination.toUpperCase()</b></li>
         <li><b>DRIVER: @to.driver.fullName.toUpperCase()</b></li>
         <li><b>VEHICLE: @to.vehicle.name.toUpperCase()</b></li>
         <li><b>START DATE: @to.startDate</b></li>
         <li><b>RETURN DATE: @to.returnDate</b></li>
      </ul>
      <button type="button" class="btn btn-info" style="width:60px" onclick="window.location.href='/alltravelorders'">Back</button>
            <button type="button" class="btn btn-default"  onclick="window.location.href='/edittravelorderview/@to.id'">Edit  <b class="glyphicon glyphicon-pencil"></b></button>
  <a href="@routes.TravelOrderController.deleteTravelOrder(to.id)" style="width:60px" onclick="return confirm('Are you sure  ?');" class="btn btn-danger" ><i class="glyphicon glyphicon-trash"></i></a>
   </div>
</div>
}
