@(t: Task)
@import helper._
@main("show Task"){
@_menuBars()
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
   <div class="main">
      <h1 class="page-header">TASK DETAILS</h1>
      <p class="blueText">
      <h2>Task ID:@t.id</h2>
      </p>
      <p class="blueText">
      <h2>Task Name: @t.name</h2>
      </p>
      <p class="blueText">
      <h2>Date/Time: @t.dateTime</h2>
      </p>
      <p class="blueText">
      <h2>Task Description: @t.description</h2>
      </p>
      @if(t.workOrder != null) {
      <p class="blueText">
      <h2>Work Order NO: @t.workOrder.woNumber</h2>
      </p>
      }
      <hr>
      <br>
            <button type="button" class="btn btn-info" style="width:60px" onclick="window.location.href='/alltasks'">Back</button>
            <button type="button" class="btn btn-default"  onclick="window.location.href='/editTaskView/@t.id'">Edit  <b class="glyphicon glyphicon-pencil"></b></button>
  <a href="@routes.TaskController.deleteTask(t.id)" style="width:60px" onclick="return confirm('Are you sure you want to delete this ?');" class="btn btn-danger" ><i class="glyphicon glyphicon-trash"></i></a>   </div>
  
   </div>
</div>
}
